{##
 # address_view.twig
 # 
 # View address details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {

      // month checkbox changed
      $( "[id^='{{ widget.full }}__']:checkbox" ).change( function () {
      //$( ":checkbox" ).change( function () {
        var month = $(this).attr( "name" );
        var checked = $(this).attr( "checked" ) ? 1 : 0;
        var args = new Object();
        args.id = {{ id }};
        var columns = new Object();
        columns[month] = checked;
        args.columns = columns;
        send_action( "{{ widget.subject }}", "edit", args );
      } );

    } );
  </script>

{% endblock javascript %}

{% block record_items %}
  
  {{ parent() }}
  <hr class="ui-widget ui-widget-content">
  <table>
    <tr>
      <td class="heading">Active months:</td>
      <td class="content">
        J<input id="{{ widget.full }}__january" type="checkbox"
                name="january" {{ january ? "checked" : "" }} />
        F<input id="{{ widget.full }}__february" type="checkbox"
                name="february" {{ february ? "checked" : "" }} />
        M<input id="{{ widget.full }}__march" type="checkbox"
                name="march" {{ march ? "checked" : "" }} />
        A<input id="{{ widget.full }}__april" type="checkbox"
                name="april" {{ april ? "checked" : "" }} />
        M<input id="{{ widget.full }}__may" type="checkbox"
                name="may" {{ may ? "checked" : "" }} />
        J<input id="{{ widget.full }}__june" type="checkbox"
                name="june" {{ june ? "checked" : "" }} />
      </td>
    </tr>
    <tr>
      <td class="heading"></td>
      <td class="content">
        J<input id="{{ widget.full }}__july" type="checkbox"
                name="july" {{ july ? "checked" : "" }} />
        A<input id="{{ widget.full }}__august" type="checkbox"
                name="august" {{ august ? "checked" : "" }} />
        S<input id="{{ widget.full }}__september" type="checkbox"
                name="september" {{ september ? "checked" : "" }} />
        O<input id="{{ widget.full }}__october" type="checkbox"
                name="october" {{ october ? "checked" : "" }} />
        N<input id="{{ widget.full }}__november" type="checkbox"
                name="november" {{ november ? "checked" : "" }} />
        D<input id="{{ widget.full }}__december" type="checkbox"
                name="december" {{ december ? "checked" : "" }} />
      </td>
    </tr>
  </table>

{% endblock record_items %}

{% block post_record %}

  {{ parent() }}
  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.full, '', 'Back', 'right', true ) }}

{% endblock post_record %}
