{##
 # appointment_add.twig
 # 
 # Form for creating new appointments.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_add.twig for parameters
 #}
{% extends "base_add.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function () {
      // add button
      $( "#{{ widget.compound }}_add" ).click( function () {
        // push the form information
        var args = new Object();
        var columns = new Object();
        $( "#{{ widget.full }}_add_form :input" ).each( function() {
          var id_string = $(this).attr( "id" );
          var column_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
          if( "checkbox" != $(this).attr( "type" ) )
            columns[column_name] = $(this).val();
          else args.force = $(this).is( ":checked" ) ? 1 : 0;
        } );
        args.columns = columns;
    
        if( ajax_push( "{{ widget.subject }}", "new", args ) ) slot_prev( {{ slot }} );
      } );
    } );
  </script>

{% endblock javascript %}

{% block record_items %}
  {{ parent() }}
  {% if is_mid_tier %}
    <hr class="ui-widget ui-widget-content">
    <table>
      <tr id="{{widget.full }}__force_row">
        <td class="heading">Force appointment:</td>
        <td class="content">
          <input id="{{ widget.full }}__force" type="checkbox" />
        </td>  
      </tr>
    </table>
  {% endif %}  
{% endblock record_items %}

{% block record %}
  
  {{ parent() }}
  {% from 'macros.twig' import include_calendar %}
  {{ include_calendar( 'site', site_calendar|default(false), true ) }}

{% endblock record %}
