{##
 # base_add_list.twig
 # 
 # Base template for adding items of one record to another.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}
{% block widget %}

{% block js %}
<script type="text/javascript">

$( function () {
  // add button
  $( "#{{ widget.compound }}_add" ).click( function() {
    // get the object of checked ids from the cookies
    var json_checked_ids =
      $.cookie( "{{ widget.full }}_{{ list_widget_name }}_checked_ids" );
    var checked_ids = undefined == json_checked_ids
                    ? new Object()
                    : jQuery.parseJSON( json_checked_ids );
    
    var ids = new Array();
    for( id_string in checked_ids )
    {
      ids.push( parseInt( id_string.substring( id_string.lastIndexOf("_") + 1 ) ) );
    }
    
    if( 0 == ids.length )
    {
      error_dialog(
        "Error: Nothing selected",
        "<p>You must select at least one {{ list_subject }}.<br>" +
        "Please select {{ list_subjects }} to add to the " +
        "{{ widget.subject }}, or click cancel.</p>" );
    }
    else
    {
      var slot = get_slot( $(this) );
      var args = new Object();
      args.id = {{ id }};
      args.id_list = ids;
      confirm_dialog(
        "Add {{ list_subjects }} to the {{ widget.subject }}?",
        "<p>You have selected " + 
        ( 1 == ids.length ? "one {{ list_subject }}" : ids.length + " {{ list_subjects }}" ) +
        " to be added to the {{ widget.subject }}.<br>" +
        "Are you sure you want to continue?</p>",
        function() {
          if( send_action( "{{ widget.subject }}", "new_{{ list_subject }}", args ) )
          {
            // clear the checked ids object cookie and return to the previous page
            $.cookie( "{{ widget.full }}_{{ list_widget_name }}_checked_ids", null );
            slot_prev( slot );
          }
        } );
    }
  } );

  // cancel button
  $( "#{{ widget.compound }}_cancel" ).click( function() {
    // clear the checked ids cookie
    $.cookie( "{{ widget.full }}_{{ list_widget_name }}_checked_ids", null );
  } );
} );

</script>
{% endblock %}

{% block listing %}
{# Add the list using the list"s widget name to determine which template to use #}
{% set list_template = [ list_widget_name, "twig" ]|join(".") %}
{% include list_template with list %}
{% endblock %}

{% from 'macros.twig' import confirm_buttons %}
{{ confirm_buttons( widget.compound, [ 'add' ], 'Cancel', 'right', true ) }}
{% endblock widget %}
