{##
 # base_list.twig
 # 
 # Generic list widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean checkable Whether the list should allow items to be selected.
 # @param boolean viewable Whether the list should allow items to be viewed.
 # @param boolean addable Whether the list should allow items to be added.
 # @param boolean removable Whether the list should allow items to be removed.
 # @param int items_per_page The maximum number of items to show at once.
 # @param array columns An array of columns.  Every item in the array must have the following:
                     'id' => a unique id identifying the column
                     'name' => the name to display in in the column header
                     'sortable' => whether or not the list can be sorted by the column
                     'align' => right|center|left alignment (center is default)
 # @param array rows An array of items.  Every item in the array must have the following:
                     'id' => a unique identifying id
                     'columns' => an array of values for each column listed in the columns array
 # @param int number_of_items The total number of items (not visible, total).
 # @param int page The page to display.
 # @param string sort_column The column id to sort by (use an empty string for no sorting)
 # @param int sort_desc Whether to sort descending or ascending
 # @param int max_page The maximum number of pages possible given the total number of items.
 #}
{% extends "widget.twig" %}
{% block widget %}
<script type="text/javascript">

// make button icons
$( function() {
  $( "button.{{ current_widget }}_sortable" ).button( {
    text: true,
    icons: {
      primary: "ui-icon-triangle-2-n-s"
    }
  } );
} );
$( function() {
  $( "button.{{ current_widget }}_sort" ).button( {
    text: true,
    icons: {
      primary: "ui-icon-triangle-1-s"
    }
  } )
} );
$( function() {
  $( "button.{{ current_widget }}_sort_desc" ).button( {
    text: true,
    icons: {
      primary: "ui-icon-triangle-1-n"
    }
  } )
} );
{% if checkable %}
$( function() {
  $( "button.{{ current_widget }}_check" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-check"
    }
  } )
} );
{% endif %}
{% if viewable %}
$( function() {
  $( "button.{{ current_widget }}_view" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-document"
    }
  } )
} );
{% endif %}
{% if removable %}
$( function() {
  $( "button.{{ current_widget }}_remove" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-closethick"
    }
  } )
} );
{% endif %}
{% if addable %}
$( function() {
  $( "#{{ current_widget }}_add" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-plusthick"
    }
  } )
} );
{% endif %}

// create button sets
$( function() { $( "#{{ current_widget }}_check_none" ).button().parent().buttonset() } );
$( function() { $( "#{{ current_widget }}_page_next" ).button().parent().buttonset() } );

// stripe the table
$( function() {
  $(".{{ current_widget }}_table tbody tr").mouseover( function() {
    $(this).addClass( "ui-widget-header" );
  } );
  $(".{{ current_widget }}_table tbody tr").mouseout( function() {
    $(this).removeClass( "ui-widget-header" );
  } );
} );

{% if viewable %}
// view button function
$( function() {
  $( ".{{ current_widget }}_view" ).click( function() {
    var id_string = $(this).attr( 'id' );
    var id = parseInt( id_string.substring( id_string.lastIndexOf('_') + 1 ) );
    slot_load( get_slot( $(this) ),
               "{{ widget_subject }}_view",
               "{{ widget_subject }}_view",
               { "id": id } );
  } )
} );
{% endif %}
{% if removable %}
// remove button function
$( function() {
  $( ".{{ current_widget }}_remove" ).click( function() {
    var id_string = $(this).attr( 'id' );
    var id = parseInt( id_string.substring( id_string.lastIndexOf('_') + 1 ) );
    send_action( "{{ widget_subject }}", "delete", { "id": id } );
    slot_refresh( get_slot( $(this) ) );
  } )
} );
{% endif %}
{% if addable %}
// add button function
$( function() {
  $( "#{{ current_widget }}_add" ).click( function() {
    slot_load( get_slot( $(this) ),
               "{{ widget_subject }}_add",
               "{{ widget_subject }}_add" );
  } )
} );
{% endif %}

// check button functions
$( function() {
  $( "#{{ current_widget }}_check_all" ).click( function() {
    $( "input[id*={{ current_widget }}_check_]" ).attr( "checked", true );
  } )
} );
$( function() {
  $( "#{{ current_widget }}_check_none" ).click( function() {
    $( "input[id*={{ current_widget }}_check_]" ).attr( "checked", false );
  } )
} );
$( function() {
  $( "#{{ current_widget }}_check_invert" ).click( function() {
    $( "input[id*={{ current_widget }}_check_]" ).each( function() {
      $( this ).attr( 'checked', this.checked ? false : true );
    } )
  } )
} );

// column sort functions
$( function() {
  $( "th.{{ current_widget }}_sortable" ).click( function() {
    var args = new Object();
    args.sort_column = $(this).attr("id");
    args.sort_desc = "{{ sort_column }}" == $(this).attr("id") ? {{ sort_desc ? 0 : 1 }} : 0;
    slot_load( get_slot( $(this) ),
               "{{ active_widget }}",
               "{{ current_widget }}",
               args );
  } )
} );

// page button functions
$( function() {
  $( "#{{ current_widget }}_page_prev" ).click( function() {
    var args = new Object();
    args.page = {{ page - 1 }};
    slot_load( get_slot( $(this) ),
               "{{ active_widget }}",
               "{{ current_widget }}",
               args );
  } )
} );
$( function() {
  $( "#{{ current_widget }}_page_next" ).click( function() {
    var args = new Object();
    args.page = {{ page + 1 }};
    slot_load( get_slot( $(this) ),
               "{{ active_widget }}",
               "{{ current_widget }}",
               args );
  } )
} );

</script>
<table class="{{ current_widget }}_table">
  {% if rows | count %}
  {% set number_of_columns = 0 %}
  <thead class="ui-widget-header">
    <tr>
      {% if checkable %}
      <th align="center"><div class="ui-icon ui-icon-check" style="padding:2px"></div></th>
      {% set number_of_columns = number_of_columns + 1 %}
      {% endif %}
      {% for column in columns %}
        {% if column.sortable %}
          <th id="{{ column.id }}" class="{{ current_widget }}_sortable">
            {% if column.id == sort_column %}
            <button class="{{ current_widget }}_sort{{ sort_desc ? '_desc' : '' }}">
            {% else %}
            <button class="{{ current_widget }}_sortable">
            {% endif %}
              {{ column.heading }}
            </button>
          </th>
          {% set number_of_columns = number_of_columns + 1 %}
        {% else %}
          <th>{{ column.heading }}</th>
          {% set number_of_columns = number_of_columns + 1 %}
        {% endif %}
      {% endfor %}
      {% if viewable %}
      <th width="1%"></th>
      {% set number_of_columns = number_of_columns + 1 %}
      {% endif %}
      {% if removable %}
      <th width="1%"></th>
      {% set number_of_columns = number_of_columns + 1 %}
      {% endif %}
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% if checkable %}
      <td><input type="checkbox" id="{{ current_widget }}_check_{{ row.id }}" /></td>
      {% endif %}
      {% for column in columns %}
      <td {% if column.align|default(false) %}
            align="{{ column.align }}"
          {% endif %}
          style="font-weight: normal">{{ row.columns[column.id] }}</td>
      {% endfor %}
      {% if viewable %}
      <td><button class="{{ current_widget }}_view"
                  id="{{ current_widget }}_view_{{ row.id }}">view</button></td>
      {% endif %}
      {% if removable %}
      <td><button class="{{ current_widget }}_remove"
                  id="{{ current_widget }}_remove_{{ row.id }}">remove</button></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
  <tfoot class="ui-widget-header">
    <tr>
      <th colspan="{{ addable ? number_of_columns - 1 : 0 }}">
        {% if checkable %}
        <span>
          Check boxes:
          <button style="width:70px" id="{{ current_widget }}_check_all">all</button>
          <button style="width:70px" id="{{ current_widget }}_check_none">none</button>
          <button style="width:70px" id="{{ current_widget }}_check_invert">invert</button>
        </span>
        <span style="margin-left:20px"></span>
        {% endif %}
        {% if rows | count %}
        {% set item_from = ( page - 1 ) * items_per_page + 1 %}
        {% set item_to = item_from + rows | count - 1 %}
        Viewing: {{ item_from }} to {{ item_to }} of {{ number_of_items }}
        {% else %}
        No records found.
        {% endif %}
        {% if items_per_page < number_of_items %}
        <span style="margin-left:20px"></span>
        <span>
          Page:
          <button style="width:70px"
                  id="{{ current_widget }}_page_prev"
                  {{ 1 == page ? 'disabled' : '' }}>prev</button>
          <button style="width:70px"
                  id="{{ current_widget }}_page_next"
                  {{ max_page == page ? 'disabled' : '' }}>next</button>
        </span>
        {% endif %}
      </th>
      {% if addable %}
      <th><button id="{{ current_widget }}_add">add {{ widget_subject }}</button></th>
      {% endif %}
    </tr>
  </tfoot>
</table>
{% endblock %}
