{##
 # base_view.twig
 # 
 # Base template for viewing, editing and adding records.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}
{% block widget %}
{% block record %}
<script type="text/javascript">

{% if editable %}
// make mutable elements
$( function () {
  // identify a mutable element by changing classes on mouse over/out
  $( "div.mutable" ).mouseover( function() {
    $(this).removeClass( "padded" );
    $(this).addClass( "ui-widget-content" );
  } )
  $( "div.mutable" ).mouseout( function() {
    $(this).removeClass( "ui-widget-content" );
    $(this).addClass( "padded" );
  } )

  // common jeditable parameters
  var jeditable_params = Object();
  jeditable_params.tooltop = "click to edit";
  jeditable_params.cssclass = "ui-state-default";
  jeditable_params.event = "click";
  jeditable_params.onblur = "cancel";

  // jeditable string
  jeditable_params.type = "text";
  jeditable_params.placeholder = "(empty)";
  $( "div.jeditable_string" ).editable( function( value, settings ) {
    return process_jeditable( $(this), value, "text" );
  }, jeditable_params );

  // jeditable text
  jeditable_params.type = "textarea";
  $( "div.jeditable_text" ).editable( function( value, settings ) {
    return process_jeditable( $(this), value, "textarea" );
  }, jeditable_params );
  
  // jeditable boolean
  jeditable_params.type = "select";
  jeditable_params.data = "{'Yes':'Yes','No':'No','selected':'Yes'}";
  jeditable_params.submit = 'ok';
  $( "div.jeditable_boolean" ).editable( function( value, settings ) {
    return process_jeditable( $(this), value, "boolean" );
  }, jeditable_params );
  
} );

/**
 * Processes jeditable value changes.
 * @author Patrick Emond <emondpd@mcmaster.ca>
 * @param string new_value The elements new value.
 * @param string type The type of element being edited.
 */
function process_jeditable( element, new_value, type )
{
  // don't do anything if there hasn't been any change to the value
  var old_value = $( "#old_" + element.attr( 'id' ) ).val();
  if( new_value == old_value ) return old_value;

  // build the args object
  var id_string = element.attr( 'id' );
  var column_name = id_string.substring( id_string.lastIndexOf('_') + 1 );
  var args = new Object();
  args.id = {{ id|default(0) }};
  var columns = new Object();
  columns[column_name] = 'boolean' == type
                       ? ( 'Yes' == new_value ? 1 : 0 )
                       : new_value;
  args.columns = columns;

  // send the action, updating the hidden "old" input upon success
  if( send_action( "{{ widget.subject }}", "edit", args ) )
  {
    $( "#old_" + element.attr( 'id' ) ).val( new_value );
    return new_value;
  }

  return old_value;
}
{% endif %}

{% if addable %}
$( function () {
  // add button {# added by the confirm buttons template below #}
  $( "#{{ widget.compound }}_add" ).click( function() {
    // submit the form information as a new action
    var args = new Object();
    var columns = new Object();
    $( "#{{ widget.full }}_add_form :input" ).each( function() {
      var id_string = $(this).attr( 'id' );
      var column_name = id_string.substring( id_string.lastIndexOf('_') + 1 );
      columns[column_name] = $(this).val();
    } );
    args.columns = columns;

    if( send_action( "{{ widget.subject }}", "new", args ) ) slot_prev( get_slot( $(this) ) );
  } );
} );
{% endif %}

{% if removable %}
// delete button
$( function () {
  $( "button.{{ widget.full }}_remove" ).click( function() {
  var slot = get_slot( $(this) );
  confirm_dialog(
    "Delete {{ widget.subject }}?",
    "Are you sure you want to remove this {{ widget.subject }}?",
    function() {
      if( send_action( "{{ widget.subject }}", "delete", { "id": {{ id|default(0) }} } ) )
        slot_prev( slot );
    } );

  } );
} );
{% endif %}

</script>

{% if addable %}
<form id="{{ widget.full }}_add_form">
{% endif %}
<div class="ui-widget ui-widget-content">
<table>
{% for item_id, entry in item %}
  <tr>
    <td style="white-space: nowrap; padding: 4px;" align="left">
      <span class="title">{{ entry.heading }}:</span>
    </td>
    <td style="padding: 4px" width="95%" align="left">
      {% block value %}
      {% if addable %}
        {% if 'boolean' == entry.type %}
          <select id="{{ widget.full }}_{{ item_id }}"
                  style="width: 100%"
                  class="ui-state-default">
            <option{{ entry.value ? ' selected' : '' }} value="1">Yes</option>
            <option{{ entry.value ? '' : ' selected' }} value="0">No</option>
          </select>
        {% elseif 'date' == entry.type %}
          TODO
        {% elseif 'string' == entry.type %}
          <input id="{{ widget.full }}_{{ item_id }}" type="text" style="width:100%" />
        {% elseif 'text' == entry.type %}
          <textarea id="{{ widget.full }}_{{ item_id }}" style="width:100%" /></textarea>
        {% endif %}
      {% elseif editable and 'constant' != entry.type %}
        {% set value = 'boolean' == entry.type ? ( entry.value ? 'Yes' : 'No' ) : entry.value %}
        <input id="old_{{ widget.full }}_{{ item_id }}"
               value="{{ entry.value }}"
               type="hidden" />
        <div id="{{ widget.full }}_{{ item_id }}"
             class="mutable jeditable_{{ entry.type }} padded">{{ entry.value }}</div>
      {% else %}
      <div id="{{ widget.full }}_{{ item_id }}" class="padded">{{ entry.value }}</div>
      {% endif %}
      {% endblock %}
    </td>
  </tr>
{% endfor %}
</table>
{% if removable %}
<button class="{{ widget.full }}_remove" style="float: right;">remove</button>
{% endif %}
</div>
{% if addable %}</form>{% endif %}

{% if addable %}
<div class="spacer"></div>
{% include "confirm_buttons.twig" with { 'align': 'right', 'buttons': ['add'] } %}
{% endif %}

{% endblock record %}
{% endblock widget %}
