{##
 # base_add.twig
 # 
 # Extends the base_record template for adding records.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "base_record.twig" %}

{% block record_javascript %}
  <script type="text/javascript">
  $( function () {
    // add button
    $( "#{{ widget.compound }}_add" ).click( function () {
      // submit the form information as a new action
      var args = new Object();
      var columns = new Object();
      $( "#{{ widget.full }}_add_form :input" ).each( function() {
        var id_string = $(this).attr( 'id' );
        var column_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
        columns[column_name] = $(this).val();
      } );
      args.columns = columns;

      if( send_action( "{{ widget.subject }}", "new", args ) ) slot_prev( {{ slot }} );
    } );
  } );
  </script>
{% endblock record_javascript %}

{% block record %}
  <div id="{{ widget.full }}_add_form">
  {{ parent() }}
  </div>
  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.compound, [ 'add' ], 'Cancel', 'right', true ) }}
{% endblock record %}

{% block record_items %}
  <table>
  {% for item_id, entry in item %}
    {% if 'hidden' != entry.type %}
      {# make null entries an empty string #}
      {% set entry_value = entry.value is defined ? entry.value : "" %}
      {% if 'enum' == entry.type and 1 == entry.enum|count %}

        {# don't display enums where there is only one possible value #}
          <tr><td style="height:0px">
        {% for value_id, value in entry.enum %}
            <input id="{{ widget.full }}__{{ item_id }}" type="hidden"
                   value="{{ 'NULL' == value_id ? '' : value_id }}" />
        {% endfor %}
          </td></tr>

      {% else %}

        <tr>
          <td class="heading">
            <span class="title">{{ entry.heading }}:</span>
          </td>
          <td class="content">
  
        {% if 'boolean' == entry.type %}
          
          <select id="{{ widget.full }}__{{ item_id }}"
                  style="width: 100%"
                  class="ui-state-default">
            <option{% if 'Yes' == entry_value %} selected{% endif %} value="1">Yes</option>
            <option{% if 'No' == entry_value %} selected{% endif %} value="0">No</option>
          </select>
        
        {% elseif 'datetime' == entry.type %}
        
          <script type="text/javascript">
            $( function () {
              $( "#{{ widget.full }}__{{ item_id }}" ).datetimepicker( {
                dateFormat: 'yy-mm-dd',
                timeFormat: 'hh:mm',
                ampm: false,
                stepMinute: 5,
                showAnim: 'slideDown'
              } );
            } );
          </script>
          <input id="{{ widget.full }}__{{ item_id }}" type="text" style="width:99%"
                 value="{{ entry_value }}" readonly />
        
        {% elseif 'date' == entry.type %}
        
          <script type="text/javascript">
            $( function () {
              $( "#{{ widget.full }}__{{ item_id }}" ).datepicker( {
                dateFormat: 'yy-mm-dd',
                showAnim: 'slideDown'
              } );
            } );
          </script>
          <input id="{{ widget.full }}__{{ item_id }}" type="text" style="width:99%"
                 value="{{ entry_value }}" readonly />
        
        {% elseif 'time' == entry.type %}
        
          <script type="text/javascript">
            $( function () {
              $( "#{{ widget.full }}__{{ item_id }}" ).timepicker( {
                timeFormat: 'hh:mm',
                showAnim: 'slideDown',
                ampm: false,
                stepMinute: 5
                {% if "start_time" == item_id %}
                , onClose: function( timeText, date_inst, time_inst ) {
                  // update end_time
                  end_time_obj =
                    new Date( "Jan 2, 2000 " + $( "#{{ widget.full }}__end_time" ).val() );
                  old_time_obj = 
                    new Date( "Jan 2, 2000 " + date_inst.lastVal );
                  new_time_obj = new Date( "Jan 2, 2000 " + timeText );
                  end_time_obj.setTime(
                    end_time_obj.getTime() + ( new_time_obj.getTime() - old_time_obj.getTime() ) );
                  var hours = ( end_time_obj.getHours() < 10 ? '0' : '' ) + end_time_obj.getHours();
                  var minutes = ( end_time_obj.getMinutes() < 10 ? '0' : '' ) + end_time_obj.getMinutes();
                  $( "#{{ widget.full }}__end_time" ).val( hours + ":" + minutes );
                }
                {% endif %}                
              } );
            } );
          </script>
          <input id="{{ widget.full }}__{{ item_id }}" type="text" style="width:99%"
                 value="{{ entry_value }}" readonly />
        
        {% elseif 'enum' == entry.type %}
            
          {# display all values in a select #}
          <select id="{{ widget.full }}__{{ item_id }}"
                  style="width: 100%"
                  class="ui-state-default">
            {% for value_id, value in entry.enum %}
            <option{{ entry_value == value_id ? ' selected' : '' }}
                    value="{{ 'NULL' == value_id ? '' : value_id }}">{{ value }}</option>
            {% endfor %}
          </select>
  
        {% elseif 'string' == entry.type %}
      
          <input id="{{ widget.full }}__{{ item_id }}" type="text" style="width:99%"
                 value="{{ entry_value }}" />
      
        {% elseif 'number' == entry.type %}
      
          <input id="{{ widget.full }}__{{ item_id }}" type="text" style="width:99%"
                 value="{{ entry.value|default(0) }}" />
      
        {% elseif 'text' == entry.type %}
      
          <textarea id="{{ widget.full }}__{{ item_id }}" rows="5"
                    style="width:99%;" />{{ entry_value }}</textarea>
      
        {% endif %}
        
        {% if entry.note is defined %}
          <div class="help_note">{{ entry.note }}</div>
        {% endif %}
          </td>
        </tr>

      {% endif %}
    {% endif %}
  {% endfor %}
  </table>
{% endblock record_items %}
