{##
 # confirm_buttons.twig
 # 
 # Displays a set of confirm buttons.
 # For every string in the buttons array a button by that name will be created with their
 # id set to {{ widget.compound }}_{{ name }}. Button names should always be lower case.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param array(string) buttons The names of buttons to add to the set.
 # @param string align How to align the buttons (default is right)
 # TODO: there is a bug that is causing these buttons to not work correctly (see any add widget)
 #}
<script type="text/javascript">
$( function() {
  // cancel button
  $( "#{{ widget.compound }}_cancel" ).click( function() {
    slot_prev( get_slot( $(this) ) );
  } );

  // create a button set
  $( "#{{ widget.compound }}_cancel" ).button().parent().buttonset();
} );
</script>
<div style="text-align: {{ align|default('right') }};">
{% block buttons %}
  {% for button in buttons %}
  <button id="{{ widget.compound }}_{{ button }}" style="width:100px">{{ button|capitalize }}</button>
  {% endfor %}
  <button id="{{ widget.compound }}_cancel" style="width:100px">Cancel</button>
{% endblock %}
</div>
