{##
 # macros.twig
 # 
 # Contains a list of twig macros.
 #}

{##
 # Includes a list widget, if list is set.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string subject The list's subject.
 # @param array list The list's arguments.
 # @param boolean spacer Whether to include spacing before including the list.
 #}
{% macro include_list( subject, list, spacer ) %}
  {% if list %}
    {% if spacer is defined %}<div class="spacer"></div>{% endif %}
    {% include [ subject, "list.twig" ]|join("_") with list %}
  {% endif %}
{% endmacro %}

{##
 # Given a contact list this creates a widget for dialing phone numbers in that list.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string name What to name the widget (used for namespacing)
 # @param array list An array of contacts where the key is a contact_id and the value is the
 #                   display text.
 # @param bool on_call Whether the client is currently in a call.
 #}
{% macro dial_contact_widget( name, contact_list, status_list, on_call ) %}
  
  <script type="text/javascript">
  function {{ name }}__update_interface( on_call ) {
    // call button
    $( "#{{ name }}__call" ).button( {
      text: true,
      label: on_call ? "End Call" : "Call",
      icons: { primary: "ui-icon-person" }
    } );
    
    {% if status_list %}
    // switch out contact and status lists
    $( "#{{ name }}__parameter" ).children().remove().end().append(
      on_call
    {% for status in status_list %}
      {{ loop.first ? '?' : '+' }} '<option value="{{ status }}">{{ status }}</option>'
    {% endfor %}
    {% for id, contact in contact_list %}
      {{ loop.first ? ':' : '+' }} '<option value="{{ id }}">{{ contact }}</option>'
    {% endfor %}
    );
    {% else %}

    // enable/disable the contact select element
    $( "#{{ name }}__parameter" ).attr( "disabled", on_call );

    {% endif %}
  }

  $( function() {
    // initialize the interface
    var on_call = {{ on_call ? "true" : "false" }};
    {{ name }}__update_interface( on_call );

    // call button
    $( "#{{ name }}__call" ).click( function() {
      var args = new Object();
      if( !on_call ) {
        args.contact_id = $( "#{{ name }}__parameter" ).val();
        if( send_action( "phone_call", "begin", args ) ) {
          on_call = true;
          // update the interface
          {{ name }}__update_interface( on_call );
        }
      }
      else {
        args.status = $( "#{{ name }}__parameter" ).val();
        if( send_action( "phone_call", "end", args ) ) {
          on_call = false;
          // update the interface
          {{ name }}__update_interface( on_call );
        }
      }

    } );
  } );
  </script>
  
  {% if contact_list %}
    
    <select class="ui-state-default" id="{{ name }}__parameter">
    {% for id, contact in contact_list %}
      <option value="{{ id }}">{{ contact }}</option>
    {% endfor %}
    </select>
    <button style="width:110px" id="{{ name }}__call"></button>

  {% else %}
    
    (no numbers to dial)
    <button style="width:110px" id="{{ name }}__call" disabled>Call</button>

  {% endif %}

{% endmacro %}
