{##
 # main.twig
 # 
 # Base main file.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string jquery-ui_css_path The relative path of a jquery theme css file.
 # @param boolean survey_url The URL of the survey interface.
 #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang='en' xml:lang='en' xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Sabretooth</title>
  <script type="text/javascript"></script>
  <link href="{{ constant('JQUERY_UI_URL') }}/css{{ jquery_ui_css_path }}" rel="stylesheet" />
  <link href="{{ constant('JQUERY_FULLCALENDAR_CSS_URL') }}" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  
  {# need to dynamically specify left flap colors #}
  <style media="screen" type="text/css">
    .extruder.left .flap {
      color: {{ FOREGROUND_COLOR }};
      background: {{ BACKGROUND_COLOR }};
    }
    #tooltip {
      color: {{ BACKGROUND_COLOR }};
      background: {{ FOREGROUND_COLOR }};
    }
  </style>

  <script type="text/javascript" src="{{ constant('JQUERY_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_UI_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_LAYOUT_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_COOKIE_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_HOVERINTENT_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_METADATA_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_FLIPTEXT_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_EXTRUDER_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_LOADING_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_LOADING_OVERFLOW_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_JEDITABLE_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_TIMEPICKER_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_RIGHTCLICK_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_TOOLTIP_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_JSTREE_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_FULLCALENDAR_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_FONTSCALE_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_TIMERS_JS_URL') }}"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <script type="text/javascript">
    $( function() {
      
      {% if reset_password %}

        // open the change-password dialog
        $( "#password_slot" ).dialog( {
          title: "Change password",
          modal: true,
          width: 400,
          height: 220,
          autoOpen: true,
          closeOnEscape: false,
          open: function( event, ui ) { $( ".ui-dialog-titlebar-close", $(this).parent() ).hide(); }
        } );
        slot_load( "password", "self", "password" );

      {% endif %}

      // setup the top extruder
      $( "#top_extruder" ).buildMbExtruder( {
        position: "top",
        positionFixed: true,
        width: 500,
        sensibility: 500,
        extruderOpacity: 1,
        autoCloseTime: 0,
        hidePanelsOnClose: true,
        onExtOpen: function() {},
        onExtContentLoad: function() {},
        onExtClose: function() {}
      } );
    
      {% if not is_operator %}
        // setup the left extruder
        $( "#left_extruder" ).buildMbExtruder( {
          position: "left",
          positionFixed: true,
          width: 200,
          sensibility: 500,
          extruderOpacity: 1,
          autoCloseTime: 0,
          hidePanelsOnClose: true,
          onExtOpen: function() {},
          onExtContentLoad: function() {},
          onExtClose: function() {}
        } );
      {% endif %}
  
      // refresh all slots
      slot_refresh( "status" );
      slot_refresh( "shortcuts" );
      slot_refresh( "settings" );
      {% if not is_operator %}slot_refresh( "menu" );{% endif %}
      slot_refresh( "main" );

      // apply jquery-ui theme to the extruders
      $( "div.content" ).addClass( "ui-widget-content" );
      $( ".flap" ).addClass( "ui-widget-header" );
      $( ".tooltop" ).addClass( "ui-widget ui-widget-content ui-state-default ui-corner-all" );
  
      {% if survey_url %}
        // Defines the layout when showing the survey pane.
        // Should only be visible when there is an active survey.

        // ui-layout-south
        var layout = $( "body" ).layout( {
          south__maskIframesOnResize: ".ui-layout-south",
          applyDefaultStyles: true,
          spacing_open: 8,
          spacing_closed: 16,
          slidable: true,
          size: 500,
          initClosed: false
        } );
      {% endif %}
    } );
  </script>
</head>

<body>
  {% if survey_url %}
    <div class="ui-layout-center">
  {% endif %}
  <div id="error_slot"></div>
  <div id="confirm_slot"></div>
  <div id="note_slot"></div>
  <div id="timer_slot"></div>
  <div id="dialing_pad_slot"></div>
  <div id="calculator_slot"></div>
  <div id="password_slot"></div>
  <div id="top_extruder" class="{title:'settings'}">
    <div id="settings_slot"></div>
  </div>
  {% if not is_operator %}
    <div id="left_extruder" class="{title:'menu'}">
      <div id="menu_slot"></div>
    </div>
  {% endif %}
  <div class="ui-widget-content" id="app_ui">
    <table>
      <tr>
        <td><div id="status_slot"></div></td>
        <td><div id="shortcuts_slot"></div></td>
      </tr>
    </table>
    <div id="main_slot"></div>
  </div>
  {% if survey_url %}
    </div>
    <div class="ui-layout-south" id="survey_ui">
      <object style="width:100%; height: 100%; position: absolute;"
              data="{% autoescape false %}{{ survey_url }}{% endautoescape %}"
              id="survey_object">
        <p>Your browser is not supported, try with Firefox 3.6+</p>
      </object>
    </div>
  {% endif %}
</body>

</html>
