{##
 # main.twig
 # 
 # Base main file.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string jquery-ui_css_path The relative path of a jquery theme css file.
 # @param boolean survey_active Define whether a survey is active.
 #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Sabretooth</title>
  <script type="text/javascript"></script>
  <link href="{{ constant('JQUERY_UI_URL') }}/css{{ jquery_ui_css_path }}" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <script type="text/javascript" src="{{ constant('JQUERY_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_UI_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_LAYOUT_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_COOKIE_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_HOVERINTENT_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_METADATA_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_FLIPTEXT_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_EXTRUDER_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_LOADING_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_LOADING_OVERFLOW_JS_URL') }}"></script>
  <script type="text/javascript" src="{{ constant('JQUERY_JEDITABLE_JS_URL') }}"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript">
  // set button styles
  $( function() { $( "button, input:submit" ).button(); } );

  // apply jquery-ui theme to extruder
  $( function() { $( "div.content" ).addClass( "ui-widget-content" ); } );
  $( function() { $( ".flap" ).addClass( "ui-widget-header" ); } );

  {% if survey_active %}
  // Defines the layout when showing the survey pane.
  // Should only be visible when there is an active survey.
  $( document ).ready( function() {
      var layout = $('body').layout( {
      defaults: {
        applyDefaultStyles: true,
        spacing_open: 8,
        spacing_closed: 16 },
      south: {
        slidable: true,
        size: 384,
        initClosed: true }
      } );
    }
  );
  {% endif %}
  </script>
</head>

<body>
  <div id="error_slot"></div>
  <div id="confirm_slot"></div>
  <div id="top_extruder" class="{title:'settings'}">
    <div id="extruder_slot"></div>
  </div>
  <div class="ui-layout-center ui-widget-content" id="app_ui">
    <div id="header_slot"></div>
    <div id="main_slot"></div>
  </div>
  {% if survey_active %}
  <div class="ui-layout-south" id="survey_ui">
    <object style="width: 100%; height: 100%; position: absolute"
            id="survey_object"
            data="http://gremlin/limesurvey/"
            standby="Loading..."
            type="application/xhtml+xml">
      <p>Your browser is not supported, try with Firefox 3.6+</p>
    </object>
  </div>
  {% endif %}
</body>

</html>
