{##
 # note_list.twig
 # 
 # Note list widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% set namespace = [ category, widget.full ]|join("_") %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      {% if stickable %}
        // sticky icon
        $( ".ui-icon-pin-s, .ui-icon-pin-w" ).mouseover( function() {
          $(this).removeClass( "padded" );
          $(this).addClass( "ui-widget-header" );
        } ).mouseout( function() {
          $(this).removeClass( "ui-widget-header" );
          $(this).addClass( "padded" );
        } ).click( function() {
          var args = new Object();
          var id_string = $(this).attr( "id" );
          args.id = parseInt( id_string.substring( id_string.lastIndexOf("__") + 2 ) );
          args.category = "{{ category }}";
          args.sticky = $(this).hasClass( "ui-icon-pin-w" );
          if( send_action( "note", "edit", args ) )
            slot_refresh( {{ slot }} );
        } );
      {% endif %}

      {% if editable %}
        // edit icon
        $( ".ui-icon-pencil" ).mouseover( function() {
          $(this).removeClass( "padded" );
          $(this).addClass( "ui-widget-header" );
        } ).mouseout( function() {
          $(this).removeClass( "ui-widget-header" );
          $(this).addClass( "padded" );
        } ).click( function() {
          var id_string = $(this).attr( "id" );
          var id = parseInt( id_string.substring( id_string.lastIndexOf("__") + 2 ) );
          $( "#{{ namespace }}_dialog__" + id ).dialog( "open" );
        } );
        
        // create the edit dialogs
        $( "div[id^='{{ namespace }}_dialog__']" ).dialog( {
          title: "Edit note",
          modal: true,
          width: 550,
          height: 248,
          autoOpen: false,
          buttons: {
            Ok: function() {
              // build the args object
              var args = new Object();
              var id_string = $(this).attr( "id" );
              args.id = parseInt( id_string.substring( id_string.lastIndexOf("__") + 2 ) );
              args.category = "{{ category }}";
              args.note = $(this).children( "textarea" ).val();

              if( send_action( "note", "edit", args ) )
                slot_refresh( {{ slot }} );
              $(this).dialog( "close" );
            },
            Cancel: function() {
              $(this).dialog( "close" );
            }
          }
        } );
      {% endif %}

      {% if removable %}
        // remove icon
        $( ".ui-icon-close" ).mouseover( function() {
          $(this).removeClass( "padded" );
          $(this).addClass( "ui-widget-header" );
        } ).mouseout( function() {
          $(this).removeClass( "ui-widget-header" );
          $(this).addClass( "padded" );
        } ).click( function() {
          var args = new Object();
          var id_string = $(this).attr( "id" );
          args.id = parseInt( id_string.substring( id_string.lastIndexOf("__") + 2 ) );
          args.category = "{{ category }}";
          send_action( "note", "delete", args );
          slot_refresh( {{ slot }} );
        } );
      {% endif %}

      // post button
      $( "#{{ namespace }}_post" ).click( function() {
        var args = new Object();
        args.category = "{{ category }}";
        args.category_id = "{{ category_id }}";
        args.note = $( "#{{ namespace }}_text" ).val();
        if( args.note )
        {
          send_action( "note", "new", args );
          slot_refresh( {{ slot }} );
        }
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div id="{{ namespace }}_div">
    {% for note in note_list %}
      <div class="ui-widget ui-widget-header
                  {{ note.sticky ? "ui-state-hover ui-priority-primary" : "" }}">
        <table>
          <tr>
            <td width="40%" align="left">{{ note.user }}</td>
            <td width="60%" align="right">{{ note.date }}&nbsp;</td>
            {% if stickable %}
              <td align="right">
                <div id="{{ namespace }}_stick__{{ note.id }}"
                     class="padded ui-icon ui-icon-pin-{{ note.sticky ? "s" : "w" }}" />
              </td>
            {% endif %}
            {% if editable %}
              <td align="right">
                <div id="{{ namespace }}_edit__{{ note.id }}"
                     class="padded ui-icon ui-icon-pencil" />
              </td>
            {% endif %}
            {% if removable %}
              <td align="right">
                <div id="{{ namespace }}_remove__{{ note.id }}"
                     class="padded ui-icon ui-icon-close" />
              </td>
            {% endif %}
          </tr>
        </table>
      </div>
      {% if editable %}
        <div id="{{ namespace }}_dialog__{{ note.id }}"><textarea>{{ note.note|e }}</textarea></div>
      {% endif %}
      {% autoescape false %}
        <div id="{{ namespace }}_note__{{ note.id }}"
             class="ui-widget ui-widget-content app-widget-content">{{ note.note|e|nl2br }}</div>
      {% endautoescape %}
      <div class="spacer" />
    {% endfor %}
    <div class="ui-widget ui-widget-header">Add a note:</div>
    <div class="ui-widget ui-widget-content app-widget-content">
      <textarea id="{{ namespace }}_text"></textarea>
      {% from 'macros.twig' import confirm_buttons %}
      {{ confirm_buttons( slot, [category, widget.full]|join('_'), [ 'post' ], false, 'right' ) }}
    </div>
  </div>

{% endblock widget %}
