{##
 # operator_assignment.twig
 # 
 # The operator's view of their current assignment.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  <script type="text/javascript">
    $( function() {
      {% if participant_id|default(false) %}
        // view participant button
        $( "#{{ widget.full }}__view_participant" ).click( function() {
          var args = new Object();
          args.id = {{ participant_id }};
          slot_load( "{{ widget.full }}", "participant_view", "participant_view", args );
          $( "#{{ widget.full }}_slot" ).dialog( {
            title: "Viewing details for {{ participant_name }}",
            modal: true,
            width: 800,
            height: 600
          } );
        } );
      
        // end assignment button
        $( "#{{ widget.full }}__end_assignment" ).click( function() {
          if( send_action( "assignment", "end" ) ) slot_refresh( {{ slot }} );
        } );
        
        // call/end-call button
        $( "#{{ widget.full }}__call" ).button( {
          text: true,
          label: "{{ on_call ? 'End Call' : 'Call' }}",
          icons: { primary: "ui-icon-person" }
        } ).click( function() {
          {% if on_call %}
            args.status = $( "#{{ widget.full }}__parameter" ).val();
            if( send_action( "phone_call", "end", args ) ) {
              window.location.reload();
            }
          {% else %}
            args.contact_id = $( "#{{ widget.full }}__parameter" ).val();
            if( send_action( "phone_call", "begin", args ) ) {
              window.location.reload();
            }
          {% endif %}
        } );
    
      {% else %}
      
        // begin assignment button
        $( "#{{ widget.full }}__begin_assignment" ).click( function() {
          if( send_action( "assignment", "begin" ) ) slot_refresh( {{ slot }} );
        } );
    
      {% endif %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div id="{{ widget.full }}_slot" />
  
  <div class="ui-widget ui-widget-content app-widget-content">
    {% if participant_id|default(false) %}
      {% from 'macros.twig' import notes_widget %}

      <table style="margin-top: 8px;">
        <tr>
          <td class="heading">Participant:</td>
          <td class="content" style="position:relative">
            {{ participant_name }}
            {{ notes_widget( widget.full, note_list|default([]) ) }}
          </td>
        </tr>
        <tr>
          <td class="heading">Prefered Language:</td>
          <td class="content">{{ participant_language }}</td>
        </tr>
        <tr>
          <td class="heading">Current Consent:</td>
          <td class="content">{{ participant_consent }}</td>
        </tr>
        <tr>
          <td class="heading">Previous Assignment:</td>
          <td class="content">
            {% if 0 == previous_call_list|count %}
              new participant (never assigned)
            {% else %}
              Last assigned on {{ previous_assignment_date }} at {{ previous_assignment_time }}
              <ul>
                {% for call in previous_call_list %}<li>{{ call }}</li>{% endfor %}
              </ul>
            {% endif %}
          </td>
        </tr>
      </table>
      
      <table class="spacer">
        <tr>
          <td align="left">
            <button style="width: 180px;"
                    id="{{ widget.full }}__view_participant">View Details</button>
            <button style="width: 180px;"
                    id="{{ widget.full }}__end_assignment"
                    {{ on_call or 0 == current_calls ? "disabled" : "" }}>End Assignment</button>
          </td>
          <td align="right">
            {% if contact_list %}
              <select class="ui-state-default" id="{{ widget.full }}__parameter">
                {% if on_call %}
                  {% for status in status_list %}
                    <option value="{{ status }}">{{ status }}</option>
                  {% endfor %}
                {% else %}
                  {% for id, contact in contact_list %}
                    <option value="{{ id }}">{{ contact }}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <button style="width:125px"
                      id="{{ widget.full }}__call" {{ allow_call ? '' : 'disabled' }} />
            {% else %}
              (no numbers to dial)
              <button style="width:125px" id="{{ widget.full }}__call" disabled />
            {% endif %}
          </td>
        </tr>
      </table>
    {% else %}
      <p>You currently have no assignment.</p>
      <button id="{{ widget.full }}__begin_assignment">Request new assignment</button>
      <div class="spacer" />
    {% endif %}
  </div>

{% endblock widget %}
