{% extends "widget.twig" %}
{% block widget %}

<script type="text/javascript">
$( function() {
  $( '#{{ widget.full }}_new_assignment' ).click( function() {
    if( send_action( 'operator', 'new_assignment' ) ) slot_refresh( get_slot( $(this) ) );
  } );
} );
</script>

<div class="ui-widget ui-widget-content app-widget-content">
  {% if participant_id|default(false) %}
    <table>
      <tr>
        <td class="heading">Participant's Name:</td>
        <td class="content">{{ participant_name }}</td>
      </tr>
      <tr>
        <td class="heading">Prefered Language:</td>
        <td class="content">{{ participant_language }}</td>
      </tr>
      <tr>
        <td class="heading">Current Status:</td>
        <td class="content">{{ participant_status }}</td>
      </tr>
      <tr>
        <td class="heading">Current Consent:</td>
        <td class="content">{{ participant_consent }}</td>
      </tr>
      <tr>
        <td class="heading">Result of Last Call:</td>
        <td class="content">{{ participant_last_call }}</td>
      </tr>
    </table>
  {% else %}
    <p>You currently have no assignment.</p>
    <button id="{{ widget.full }}_new_assignment">Request new assignment</button>
    <div class="spacer" />
  {% endif %}
</div>
{% endblock %}
