{##
 # operator_assignment.twig
 # 
 # The operator's view of their current assignment.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  <script type="text/javascript">
    function break_dialog() {
      confirm_dialog(
        "On a break",
        "<p>Close this window when you wish to end your break.</p>",
        function() {
          ajax_push( "operator", "end_break" );
        },
        false
      );
    }

    $( function() {
      {% if participant_id|default(false) %}
        {% if allow_secondary %}
          // secondary contact button
          $( "#{{ widget.full }}__secondary" ).click( function() {
            window.location.reload();
            // force the secondary list to be loaded in the main slot
            slot_load( 'main', 'participant', 'secondary', { id: {{ participant_id }} } );
          } );
        {% endif %}

        // view participant button
        $( "#{{ widget.full }}__view_participant" ).click( function() {
          slot_load( "{{ widget.full }}", "participant", "view", { id: {{ participant_id }} } );
          $( "#{{ widget.full }}_slot" ).dialog( {
            title: "Viewing details for {{ participant_name }}",
            modal: false,
            width: 800,
            height: 600
          } );
        } );
      
        // view call history button
        $( "#{{ widget.full }}__view_history" ).click( function() {
          slot_load( "{{ widget.full }}", "assignment", "list",
                    { interview_id: {{ interview_id }} } );
          $( "#{{ widget.full }}_slot" ).dialog( {
            title: "Viewing call history for {{ participant_name }}",
            modal: false,
            width: 800,
            height: 600
          } );
        } );
      
        // end assignment button
        $( "#{{ widget.full }}__end_assignment" ).click( function() {
          if( ajax_push( "assignment", "end" ) ) slot_refresh( {{ slot }} );
        } );
        
        {% if allow_withdraw %}
          // withdraw button
          $( "#{{ widget.full }}__withdraw" ).click( function() {
            if( ajax_push( "participant", "withdraw",
                           { "id": {{ participant_id }},
                             "cancel": {{ withdrawing ? "1" : "0" }} } ) )
              window.location.reload();
          } );
        {% endif %}

        // call/end-call button
        $( "#{{ widget.full }}__call" ).button( {
          text: true,
          label: "{{ on_call ? 'End Call' : 'Call' }}",
          {% if not on_call and interview_completed %}
            disabled: true,
          {% endif %}
          icons: { primary: "ui-icon-person" }
        } ).click( function() {
          args = new Object();
          {% if on_call %}
            args.status = $( "#{{ widget.full }}__parameter" ).val();
            if( ajax_push( "phone_call", "end", args ) ) window.location.reload();
          {% else %}
            args.phone_id = $( "#{{ widget.full }}__parameter" ).val();
            if( ajax_push( "phone_call", "begin", args ) ) window.location.reload();
          {% endif %}
        } );
    
      {% else %}
      
        // begin assignment button
        $( "#{{ widget.full }}__assignment" ).click( function() {
          // disable the button to prevent button-mashing
          $(this).button( {
            disabled: true,
            label: "Working..."
          } );
          if( ajax_push( "assignment", "begin" ) ) {
            slot_refresh( {{ slot }} ); } else {
            $(this).button( {
              disabled: false,
              label: "Request assignment"
            } );
          }
        } );

        // view schedule button
        $( "#{{ widget.full }}__schedule" ).click( function() {
          slot_load( "{{ widget.full }}", "shift", "calendar" );
          $( "#{{ widget.full }}_slot" ).dialog( {
            title: "Schedule",
            modal: false,
            width: 800,
            height: 600
          } );
        } );

        // go on break button
        $( "#{{ widget.full }}__break" ).click( function() {
          if( ajax_push( "operator", "begin_break" ) ) break_dialog();
        } );

        {# show the break dialog if the operator is on break #}
        {% if on_break %}break_dialog();{% endif %}
    
      {% endif %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div id="{{ widget.full }}_slot" />
  
  <div class="ui-widget ui-widget-content app-widget-content">
    {% if participant_id|default(false) %}
      {% from 'macros.twig' import note_widget %}

      <table style="margin-top: 8px;">
        <tr>
          <td class="heading">Participant:</td>
          <td class="content" style="position:relative">
            {{ participant_name }} ({{ participant_uid }})
            {{ note_widget( widget.full, "participant", participant_id,
                            true, participant_note_count ) }}
          </td>
        </tr>
        <tr>
          <td class="heading">Prefered Language:</td>
          <td class="content">{{ participant_language }}</td>
        </tr>
        <tr>
          <td class="heading">Current Consent:</td>
          <td class="content">{{ participant_consent }}</td>
        </tr>
        {% if appointment %}
          <tr>
            <td class="heading">Appointment:</td>
            <td class="content" style="font-style: italic">
              {% if appointment_missed|default( false ) %}
                This assignment is fulfilling a missed appointment which had been scheduled for {{ appointment }}.<br>
              {% else %}
                This assignment is fulfilling an appointment scheduled for {{ appointment }}.<br>
              {% endif %}
              {% if phone_at %}
                The participant specified to be called at: {{ phone_at }}.
              {% else %}
                The participant did not specify which number to call.
              {% endif %}
            </td>
          </tr>
        {% elseif callback %}
          <tr>
            <td class="heading">Appointment:</td>
            <td class="content" style="font-style: italic">
              This assignment is fulfilling a callback scheduled for {{ callback }}.<br>
              {% if phone_at %}
                The participant specified to be called at: {{ phone_at }}.
              {% else %}
                The participant did not specify which number to call.
              {% endif %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <td class="heading">Previous Assignment:</td>
          <td class="content">
            {% if 0 == previous_call_list|length %}
              new participant (never assigned)
            {% else %}
              Last assigned on {{ previous_assignment_date }} at {{ previous_assignment_time }}
              {{ note_widget( widget.full, "assignment", previous_assignment_id,
                              true, previous_assignment_note_count ) }}
              <ul>
                {% for call in previous_call_list %}<li>{{ call }}</li>{% endfor %}
              </ul>
            {% endif %}
          </td>
        </tr>
      </table>
      
      <table class="spacer" cellpadding="4">
        {% if allow_secondary %}
          <tr>
          <td align="left"></td>
            <td align="right">
              <button style="width: 180px;"
                      id="{{ widget.full }}__secondary"
                      {{ allow_call or on_call ? '' : 'disabled' }}>Secondary Contact(s)</button>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td align="left">
            <button style="width: 180px;"
                    id="{{ widget.full }}__view_participant">View Participant</button><br>
          </td>
          <td align="right">
            {% if phone_list|default( false ) %}
              <select class="ui-state-default" id="{{ widget.full }}__parameter">
                {% if on_call %}
                  {% for status in status_list %}
                    <option value="{{ status }}">{{ status }}</option>
                  {% endfor %}
                {% else %}
                  {% for id, phone in phone_list %}
                    <option {{ phone_id == id ? "selected" : "" }} value="{{ id }}">{{ phone }}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <button style="width:125px"
                      id="{{ widget.full }}__call" {{ allow_call or on_call ? '' : 'disabled' }} />
            {% else %}
              (no numbers to dial)
              <button style="width:125px" id="{{ widget.full }}__call" disabled />
            {% endif %}
            <br>
          </td>
        </tr>
        <tr>
          <td align="left">
            <button style="width: 180px;"
                    id="{{ widget.full }}__view_history">View Call History</button><br>
          </td>
          <td align="right">
            <button style="width: 180px;"
                    id="{{ widget.full }}__end_assignment"
                    {{ allow_end_assignment ? "" : "disabled" }}>End Assignment</button>
          </td>
        </tr>
        <tr>
          <td align="left">
            {{ note_widget( widget.full, "assignment", assignment_id,
                            false, "Assignment Notes" ) }}
          </td>
          <td align="right">
            {% if allow_withdraw %}
              <button id="{{ widget.full }}__withdraw"
                      {{ on_call ? "" : "disabled" }}
                      style="width: 180px;">{{ withdrawing ? "Cancel " : "" }}Withdraw</button>
            {% endif %}
          </td>
        </tr>
      </table>
    {% else %}
      <p>You currently do not have an assignment.</p>
      <button id="{{ widget.full }}__assignment"
              style="width: 200px;">Request assignment</button>
      <button id="{{ widget.full }}__schedule"
              style="width: 200px;">View schedule</button>
      <button id="{{ widget.full }}__break"
              style="width: 200px;">Go on break</button>
      <div class="spacer" />

    {% endif %}
  </div>
  <div class="spacer" />

  {% if not participant_id|default(false) %}
    <div class="ui-widget-header ui-state-hover app-widget-header">System Messages</div>
    <div class="ui-widget ui-widget-content app-widget-content">
      {% if message_list|length %}
        <div class="spacer" />
        {% for message in message_list %}
          <div class="ui-widget ui-widget-header">{{ message.title }}</div>
          <div style="padding: 1em; padding-left: 2em;"
               class="ui-widget ui-widget-content">{{ message.note|nl2br|raw }}</div>
        {% endfor %}
        <div class="spacer" />
      {% else %}
        <div style="padding: 1em;">There are no system messages.</div>
      {% endif %}
    </div>
  {% endif %}

{% endblock widget %}
