{##
 # participant_tree.twig
 # 
 # Lists queues.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "base_list.twig" %}

{% block javascript %}
  
  <script type="text/javascript">
    $( function() {
      {% if sites is defined %}
        // reload page if site selector is changed
        $( "#{{ widget.full }}__restrict_site" ).change( function() {
          var site_id = $( "#{{ widget.full }}__restrict_site option:selected" ).val();
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { "restrict_site_id": site_id } );
        } );
      {% endif %}
      
      // tree widget
      $( "#{{ widget.full }}_tree" ).jstree( {
        plugins: [ "html_data", "themeroller" ],
        core: {
          animation: 200,
          html_titles: true
        },
        themeroller: {
          opened: "ui-icon-circle-triangle-s",
          closed: "ui-icon-circle-triangle-e",
          item_icon: "ui-icon-radio-on"
        }
      } );
      
      /* TODO: the following is disabled for now, need to improve queue querying
      // opening a node
      $( "#{{ widget.full }}_tree" ).bind( "open_node.jstree", function( event, data ) {
        var id_string = data.args[0][0].id;
        var index = id_string.substring( id_string.lastIndexOf("__") + 2 );
        if( 0 != index.substring( 0, 1 ) )
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { show_queue_index: index } );
        //var node_id = $(this).parent().attr( "id" );
        //$( "#{{ widget.full }}_tree" ).jstree( "toggle_node", "#" + node_id );
      } );
      */
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div id="{{ widget.full }}_slot" />

  {% if sites is defined %}
    {% set restrict_site_id = restrict_site_id|default(0) %}
    <div style="padding-top: 4px; padding-bottom: 4px;">
      Restrict to site:
      <select id="{{ widget.full }}__restrict_site" class="ui-state-default">
        <option {% if 0 == restrict_site_id %}selected{% endif %}
                value="0">All Sites</option>
        {% for id, name in sites %}
          <option {% if id == restrict_site_id %}selected{% endif %}
                  value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
  
  <div id="{{ widget.full }}_tree">
    <ul>
      {% for node in tree %}
        {% include "tree_widget.twig" with node %}
      {% endfor %}
    </ul>
  </div>

{% endblock widget %}
