{##
 # participant_sync.twig
 # 
 # Form to sync participants with Mastodon.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {
      // update button
      $( "#{{ widget.compound }}__update" ).click( function () {
        var args = new Object();
        args.uid_list = $( "#{{ widget.full }}__uid_list" ).val();
        var data = ajax_pull( "participant", "sync", args );
        if( undefined != data ) {
          var html = '<table style="width:34%; margin-left:33%; margin-right:33%">';
          for( var key in data )
          {
            html += '<tr><td class="heading">' + key +
                    '</td><td>' + data[key] +
                    '</td></tr>';
          }
          html += '</table>' +
                  '<div class="spacer" style="text-align: right">' +
                  '<button id="{{ widget.full }}__proceed" style="width:120px">Proceed</button>' +
                  '</div>';
          $( "#{{ widget.full }}__results" ).html( html );
          $( "#{{ widget.full }}__proceed" ).button();
        }

        $( "#{{ widget.full }}__proceed" ).click( function () {
          var args = new Object();
          args.uid_list = $( "#{{ widget.full }}__uid_list" ).val();
          if( ajax_push( "participant", "sync", args ) ) slot_prev( {{ slot }} );
        } );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  <div class="ui-widget ui-widget-content app-widget-content">
    <div class="spacer">
      Provide a list of participant UIDs which you wish to sync with Mastodon.
      UIDs must be separated by a comma or space and may be qualified by single
      or double quotes (ie: A123456 B123456 C123456).  Clicking the "update"
      button will display a summary of changes to be performed which should be
      carefully reviewed before proceeding with the sync.
    </div>
    <table>
      <tr>
        <td class="heading">
          <span class="title">UID list:</span>
        </td>
        <td class="content">
          <textarea id="{{ widget.full }}__uid_list" style="height: 16em;"></textarea>
        </td>
      </tr>
    </table>
    <div class="spacer" style="text-align: right">
      <button id="{{ widget.full }}__update" style="width:120px">Update</button>
    </div>
    <div id="{{ widget.full }}__results"></div>
  </div>
{% endblock widget %}
