{##
 # participant_list.twig
 # 
 # Lists participants.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "site_restricted_list.twig" %}

{% from 'macros.twig' import note_widget %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function() {
      $( "#{{ widget.full }}_sync" ).click( function() {
        slot_load( {{ slot }}, "participant", "sync" );
      } );
    } );
  </script>
{% endblock javascript %}

{% block prelist %}
  {{ parent() }}
  <span class="spacer">
    <button id="{{ widget.full }}_sync">Sync Participants</button>
  </span>
{% endblock prelist %}

{% block header_button_columns %}
  <th width="1%"></th>
{% endblock header_button_columns %}

{% block button_columns %}
  <td>{{ note_widget( widget.full,
                      "participant",
                      row.id,
                      false,
                      row.columns['participant.note_count'] ) }}</td>
{% endblock button_columns %}
