{##
 # alternate_list.tpl
 # 
 # List of a participant's alternates for sourcing purposes.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">
    $( function() {
      // phone call buttons
      $( "button.{{ widget.full }}_connect" ).button( {
        text: false,
        icons: { primary: "ui-icon-person" }
      } ).click( function() {
        var args = new Object();
        var id_string = $(this).attr( "id" );
        args.phone_number = parseInt( id_string.substring( id_string.lastIndexOf("_") + 1 ) );
        // place the call and refresh the status widget
        if( ajax_push( "phone_call", "begin", args ) ) {
          slot_refresh( "status" );
          slot_refresh( "shortcuts" );
        }
      } );

      // view participant button
      $( "#{{ widget.full }}_details" ).click( function() {
        slot_load( "{{ widget.full }}", "participant", "view", { id: {{ id }} } );
        $( "#{{ widget.full }}_slot" ).dialog( {
          title: "Viewing details for {{ participant_name }}",
          modal: false,
          width: 800,
          height: 600
        } );
      } );

      // done button
      $( "#{{ widget.full }}_done" ).click( function() {
        $.cookie( "contacting_alternates", null );
        window.location.reload();
        slot_prev( {{ slot }} );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div id="{{ widget.full }}_slot" />

  <table class="{{ widget.compound }}_table">
    <thead class="ui-widget-header">
      <tr>
        <th style="padding:0.5em">Name</th>
        <th style="padding:0.5em">Association</th>
        <th style="padding:0.5em; text-align:right;">Phone Number(s)</th>
        <th style="padding:0.5em"></th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="0"><hr class="ui-widget ui-widget-content" /></td></tr>
      {% for alternate in alternate_list %}
        {% for phone in alternate.phone_list %}
          <tr>
            {% if loop.first %}
              <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em;">
                {{ alternate.name }}
              </td>
              <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em;">
                {{ alternate.association }}
              </td>
            {% else %}
              <td></td>
              <td></td>
            {% endif %}
            <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em; text-align:right;">
                {{ phone.type }}: {{ phone.number }}
                {% if phone.note %}<br>{{ phone.note }}{% endif %}
            </td>
            <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em;">
              <button class="{{ widget.full }}_connect"
                      id="{{ widget.full }}_{{ phone.clean_number }}">Call</button>
            </td>
          </tr>
        {% endfor %}
        <tr><td colspan="0"><hr class="ui-widget ui-widget-content" /></td></tr>
      {% endfor %}
    </tbody>
  </table>

  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.full, ['details','done'], '', 'right', true ) }}

{% endblock widget %}
