{##
 # participant_tree.twig
 # 
 # Lists queues.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "base_list.twig" %}

{% block javascript %}
  
  <script type="text/javascript">
    $( function() {
      {% if sites is defined %}
        // reload page if site selector is changed
        $( "#{{ widget.full }}__restrict_site" ).change( function() {
          var site_id = $( "#{{ widget.full }}__restrict_site option:selected" ).val();
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { "restrict_site_id": site_id } );
        } );
      {% endif %}

      // create the datepicker UI for the viewing date
      $( "#{{ widget.full }}__viewing_date" ).datepicker( {
        dateFormat: 'yy-mm-dd',
        showAnim: 'slideDown',
        defaultDate: 'current',
        onClose: function( dateText, inst ) {
          var viewing_date = $( "#{{ widget.full }}__viewing_date" ).val();
          
          // if today's date is selected change it to "current"
          if( "{{ current_date }}" == viewing_date ) viewing_date = "current";

          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { "viewing_date": viewing_date } );
        }
      } );
      
      // make the queue participant counts buttons which pop up the queue view widget
      $( "span[id^='{{ widget.full }}_nodespot__']" ).button().click( function() {
        // extracting the qnaire and queue id from the id attribute
        var id_string = $(this).attr( "id" );
        var pos1 = id_string.lastIndexOf('__') + 2;
        var pos2 = id_string.lastIndexOf('_') + 1;
        var qnaire_id = id_string.substring( pos1, pos2 - 1 );
        var queue_id = id_string.substring( pos2 );
        var args = new Object();
        args.id = queue_id;
        args.qnaire_id = qnaire_id;
        {% if sites is defined %}
          args.site_id = $( "#{{ widget.full }}__restrict_site option:selected" ).val();
        {% else %}
          args.site_id = 0;
        {% endif %}
        args.viewing_date = $( "#{{ widget.full }}__viewing_date" ).val();
          
        // if today's date is selected change it to "current"
        if( "{{ current_date }}" == args.viewing_date ) args.viewing_date = "current";
        slot_load( "{{ widget.full }}", "queue", "view", args );

        $("#{{ widget.full }}_slot").dialog( { 
          title: "Viewing Queue Details",
          modal: false,
          width: 800,
          height: 600
        } );
      } );

      // tree widget
      $( "#{{ widget.full }}_tree" ).jstree( {
        plugins: [ "html_data", "themeroller" ],
        core: {
          animation: 200,
          html_titles: true
        },
        themeroller: {
          opened: "ui-icon-circle-triangle-s",
          closed: "ui-icon-circle-triangle-e",
          item_icon: "ui-icon-radio-on"
        }
      } );
      
      /* TODO: the following is disabled for now, need to improve queue querying
      // opening a node
      $( "#{{ widget.full }}_tree" ).bind( "open_node.jstree", function( event, data ) {
        var id_string = data.args[0][0].id;
        var index = id_string.substring( id_string.lastIndexOf("__") + 2 );
        if( 0 != index.substring( 0, 1 ) )
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { show_queue_index: index } );
        //var node_id = $(this).parent().attr( "id" );
        //$( "#{{ widget.full }}_tree" ).jstree( "toggle_node", "#" + node_id );
      } );
      */
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div id="{{ widget.full }}_slot" />

  <div style="padding-top: 4px; padding-bottom: 4px;">
   {% if sites is defined %}
      {% set restrict_site_id = restrict_site_id|default(0) %}
      Restrict to site:
      <select id="{{ widget.full }}__restrict_site" class="ui-state-default">
        <option {% if 0 == restrict_site_id %}selected{% endif %}
                value="0">All Sites</option>
        {% for id, name in sites %}
          <option {% if id == restrict_site_id %}selected{% endif %}
                  value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    {% endif %}
  
    {% set viewing_date = viewing_date|default('current') %}
    <span>
      Viewing date:
      <input id="{{ widget.full }}__viewing_date" class="ui-state-default"
             value="{{ viewing_date }}" style="width: 7em;" readonly />
    </span>
  </div>
  
  <div id="{{ widget.full }}_tree">
    <ul>
      {% for node in tree %}
        {% include "tree_widget.twig" with node %}
      {% endfor %}
    </ul>
  </div>

{% endblock widget %}
