{##
 # participant_secondary.tpl
 # 
 # List of a participant's alternates for sourcing purposes.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">
    $( function() {
      {% if secondary_id %}
        // end call button
        $( "#{{ widget.full }}__end_call" ).click( function() {
          if( ajax_push( "phone_call", "end" ) ) {
            $.cookie( "secondary_id", null );
            $.cookie( "secondary_participant_id", null );
            $.cookie( "secondary_first_name", null );
            $.cookie( "secondary_last_name", null );
            window.location.reload();
          }
        } );

        // on a call, so disable the "done" button
        $( "#{{ widget.full }}_back" ).attr( "disabled", "true" );
      {% endif %}

      // phone call buttons
      $( "button.{{ widget.full }}__connect" ).click( function() {
        var args = new Object();
        var id_string = $(this).attr( "id" );
        var id = parseInt( id_string.substring( id_string.lastIndexOf("_") + 1 ) );
        var first_name = $( "#{{ widget.full }}__first_name_" + id ).val();
        var last_name = $( "#{{ widget.full }}__last_name_" + id ).val();

        // place the call and reload the page with the secondary survey
        args.phone_number = $( "#{{ widget.full }}__phone_" + id ).val();
        if( ajax_push( "phone_call", "begin", args ) ) {
          $.cookie( "secondary_id", id );
          $.cookie( "secondary_participant_id", {{ id }} );
          $.cookie( "secondary_first_name", first_name );
          $.cookie( "secondary_last_name", last_name );
          window.location.reload();
        }
      } );

      // view participant button
      $( "#{{ widget.full }}_details" ).click( function() {
        slot_load( "{{ widget.full }}", "participant", "view", { id: {{ id }} } );
        $( "#{{ widget.full }}_slot" ).dialog( {
          title: "Viewing details for {{ participant_name }}",
          modal: false,
          width: 800,
          height: 600
        } );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div id="{{ widget.full }}_slot" />

  <table class="{{ widget.compound }}_table">
    <thead class="ui-widget-header">
      <tr>
        <th style="padding:0.5em">Name</th>
        <th style="padding:0.5em">Association</th>
        <th style="padding:0.5em; text-align:right;">Phone Number(s)</th>
        <th style="padding:0.5em"></th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="0"><hr class="ui-widget ui-widget-content" /></td></tr>
      {% if 0 == alternate_list|length %}
        <tr><td colspan="0">No secondary contacts found.</td></tr>
        <tr><td colspan="0"><hr class="ui-widget ui-widget-content" /></td></tr>
      {% else %}
        {% for alternate in alternate_list %}
          {% for phone in alternate.phone_list %}
            <tr>
              {% if loop.first %}
                <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em;">
                  {{ alternate.first_name }} {{ alternate.last_name }}
                </td>
                <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em;">
                  {{ alternate.association }}
                </td>
              {% else %}
                <td></td>
                <td></td>
              {% endif %}
              <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em; text-align:right;">
                  {{ phone.type }}: {{ phone.number }}
                  {% if phone.note %}<br>{{ phone.note }}{% endif %}
              </td>
              <td style="font-weight: normal; padding-top:0.2em; padding-bottom:0.2em;">
                {% if alternate.id == secondary_id %}
                  <button id="{{ widget.full }}__end_call">End Call</button>
                {% elseif 0 == secondary_id %}
                  <input id="{{ widget.full }}__first_name_{{ alternate.id }}"
                         type="hidden" value="{{ alternate.first_name }}" />
                  <input id="{{ widget.full }}__last_name_{{ alternate.id }}"
                         type="hidden" value="{{ alternate.last_name }}" />
                  <input id="{{ widget.full }}__phone_{{ alternate.id }}"
                         type="hidden" value="{{ phone.clean_number }}" />
                  <button class="{{ widget.full }}__connect"
                          id="{{ widget.full }}__call_{{ alternate.id }}">Call</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          <tr><td colspan="0"><hr class="ui-widget ui-widget-content" /></td></tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.full, ['details'], 'Done', 'right', true ) }}

{% endblock widget %}
