{##
 # participant_view.twig
 # 
 # View participant details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function() {
      {% if allow_secondary %}
        // secondary button
        $( "#{{ widget.full }}__secondary" ).click( function() {
          window.location.reload();
          // force the secondary list to be loaded in the main slot
          slot_load( 'main', 'participant', 'secondary', { id: {{ id }} } );
        } );
      {% endif %}

      // withdraw button
      $( "#{{ widget.full }}__withdraw" ).click( function() {
        if( ajax_push( "participant", "withdraw",
                       { "id": {{ id }},
                         "cancel": "0" } ) ) {
          // force the withdraw list to be loaded in the main slot
          $.cookie( "withdrawing_participant", "{{ id }}" );
          window.location.reload();
          slot_load( 'main', 'participant', 'withdraw', { id: {{ id }} } );
        }
      } );
    } );
  </script>
{% endblock javascript %}

{% block record %}

  {{ parent() }}
  {% from 'macros.twig' import include_list %}
  {{ include_list( 'address', address_list|default(false), true ) }}
  {{ include_list( 'phone', phone_list|default(false), true ) }}
  {{ include_list( 'availability', availability_list|default(false), true ) }}
  {{ include_list( 'appointment', appointment_list|default(false), true ) }}
  {{ include_list( 'ivr_appointment', ivr_appointment_list|default(false), true ) }}
  {{ include_list( 'callback', callback_list|default(false), true ) }}
  {{ include_list( 'interview', interview_list|default(false), true ) }}
  {{ include_list( 'consent', consent_list|default(false), true ) }}
  {{ include_list( 'alternate', alternate_list|default(false), true ) }}
  {{ include_list( 'event', event_list|default(false), true ) }}

{% endblock record %}

{% block actions %}
  {% from 'macros.twig' import note_widget %}
  
  <tr><td colspan="2"><hr class="ui-widget ui-widget-content"></td></tr>
  <tr>
    <td class="heading"><span class="title">Actions:</span></td>
    <td class="content">
      {{ note_widget( widget.full, "participant", id, false, "Notes" ) }}
      {% for action_id, action in actions %}
        <button {% if action.description|default(false) %}
                  title="{{ action.description }}"
                {% endif %}
                id="{{ widget.full }}__{{ action_id }}">{{ action.heading }}</button>
      {% endfor %}
    </td>
  </tr>
{% endblock actions %}
