{##
 # phase_list.twig
 # 
 # Lists phases.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param array surveys A list of all surveys.  Every element should have sid => name
 # @param int num_stages The total number of stages that the qnaire currently has
 # @see base_list.twig for parameters
 #}
{% extends "base_list.twig" %}

{% block add_button_js %}
<script type="text/javascript">
$( function() {
  // we need to grab these elements outside of the Ok function below
  var $sid = $( "#sid" );
  var $stage = $( "#stage" );
  var $repeated = $( "#repeated" );

  $dialog = $( "#{{ widget.full }}_add_dialog" );
  $dialog.dialog( {
    title: "Add phase",
    modal: true,
    width: 450,
    autoOpen: false,
    buttons: {
      Ok: function() {
        // build the args object
        var args = new Object();
        var columns = new Object();
        columns.qnaire_id = {{ id }};
        columns.sid = $sid.val();
        columns.stage = $stage.val();        
        columns.repeated = $repeated.val();
        args.columns = columns;

        // send the action, reload the record on success (since the server processes the input)
        if( send_action( "phase", "new", args ) )
        {
          // TODO: the slot should be made dynamic
          slot_refresh( "main" );
        }

        $(this).dialog( "close" );
      },
      Cancel: function() {
        $(this).dialog( "close" );
      }
    }
  } );

  $( "#{{ widget.full }}_add" ).click( function() {
    $dialog.dialog( "open" );
  } );
} );
</script>
<div id="{{ widget.full }}_add_dialog">
  <label class="title" for="sid">Survey</label>
  <select id="sid" style="width:100%;" class="ui-state-default">
    {% for sid, name in surveys %}
    <option value="{{ sid }}">{{ name }}</option>
    {% endfor %}
  </select>
  <div class="spacer"></div>
  <label class="title" for="stage">Stage</label>
  <select id="stage" style="width:100%;" class="ui-state-default">
    {% for stage in 1..( num_stages + 1 ) %}
    <option value="{{ stage }}"{% if loop.last %} selected{% endif %}>{{ stage }}</option>
    {% endfor %}
  </select>
  <div class="spacer"></div>
  <label class="title" for="repeated">Repeated</label>
  <select id="repeated" style="width:100%;" class="ui-state-default">
    <option value="1">Yes</option>
    <option value="0" selected>No</option>
  </select>
</div>
{% endblock %}
