{##
 # prerecruit_select.twig
 # 
 # Provides a list of quotas for entering pre-recruit populations.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {

      // make the done button initially disabled (until all identifiers are set and unique
      $( "#{{ widget.full }}_done" ).button( { "disabled": true } );

      $( "[id^={{ widget.full }}__identifier__]" ).keyup( function() {
        var identifiers = $( "[id^={{ widget.full }}__identifier__]" ).map( function() {
          return $(this).val();
        } ).get();
        
        // see if they are all non-empty and unique
        identifiers.sort();
        var disabled = true;
        for( var i = 0; i < identifiers.length; i++ ) {
          if( "" === identifiers[i] ) break;
          if( 0 < i && identifiers[i] == identifiers[i-1] ) break;
          if( i == identifiers.length - 1 ) disabled = false;
        }
        $( "#{{ widget.full }}_done" ).button( { "disabled": disabled } );
      } );

      // done button is pushed
      $( "#{{ widget.full }}_done" ).click( function() {
        var args = new Object();
        var identifier = $( "#{{ widget.full }}__identifier__" + {{ selected_index }} ).val();
        args.identifier = "(" + identifier + ")";
        slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}", args );
      } );

      // select button is pushed
      $( "#{{ widget.full }}_select" ).click( function() {
        var args = new Object();
        args.participant_id = {{ participant_id }};
        args.totals = new Object();
        args.identifier = "";
        $( "#{{ widget.full }}__form :input" ).each( function() {
          var id_string = $(this).attr( "id" );
          var quota_id = id_string.substring( id_string.lastIndexOf('__') + 2 );
          args.totals['quota'+quota_id] = $(this).val();
        } );

        if( ajax_push( "prerecruit", "select", args ) )
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}", { identifier: "" } );
      } );
      
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  {% if 1 < total and identifier is empty %}
    <div>
      Please identify all individuals in the {{ selection }} category
      (none can be left blank):
    </div>
    <div class="spacer" />
    <ol id="{{ widget.full }}__form">
      {% for n in 1..total %}
        <li>
          <input id="{{ widget.full }}__identifier__{{ n }}"
                 class="ui-state-default" style="width:99%" type="text"/>
        </li>
      {% endfor %}
    </ol>
    <hr class="ui-widget ui-widget-content">
    {% from 'macros.twig' import confirm_buttons %}
    {{ confirm_buttons( slot, widget.full, ['done'], '', 'right', true ) }}
  {% else %}
    <div>
      Please define how many individuals there are in each of the following categories:
    </div>
    <div class="spacer" />
    <table id="{{ widget.full }}__form">
      {% for quota in quota_list %}
        <tr>
          <td>
            <select id="{{ widget.full }}__total__{{ quota.id }}" class="ui-state-default">
              {% for i in 0..10 %}
                <option value="{{ i }}" {{ i == quota.total ? "selected" : "" }}>{{ i }}</option>
              {% endfor %}
            </select>
          </td>
          <td>{{ quota.gender }}</td>
          <td style="padding-left: 4px">{{ quota.age_group }}</td>
        </tr>
      {% endfor %}
    </table>
    <hr class="ui-widget ui-widget-content">
    <table>
      <tr>
        <td class="heading">Selection:</td>
        <td class="content">{{ selection }} {{ identifier }}</td>
      <tr>
    </table>
    <hr class="ui-widget ui-widget-content">
    {% from 'macros.twig' import confirm_buttons %}
    {{ confirm_buttons( slot, widget.full, ['select'], 'Close', 'right', true ) }}
  {% endif %}

{% endblock widget %}
