{##
 # queue_list.twig
 # 
 # Lists queues.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "base_list.twig" %}

{% block javascript %}
  
  {{ parent() }}
  <script type="text/javascript">
    $( function() {
      {% if sites is defined %}
        // reload page if site selector is changed
        $( "#{{ widget.full }}__restrict_site" ).change( function() {
          var site_id = $( "#{{ widget.full }}__restrict_site option:selected" ).val();
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { "restrict_site_id": site_id } );
        } );
      {% endif %}

      // reload page if qnaire selector is changed
      $( "#{{ widget.full }}__restrict_qnaire" ).change( function() {
        var qnaire_id = $( "#{{ widget.full }}__restrict_qnaire option:selected" ).val();
        slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                   { "restrict_qnaire_id": qnaire_id } );
      } );

      // create the datepicker UI for the viewing date
      $( "#{{ widget.full }}__viewing_date" ).datepicker( {
        dateFormat: 'yy-mm-dd',
        showAnim: 'slideDown',
        defaultDate: 'current',
        onClose: function( dateText, inst ) {
          var viewing_date = $( "#{{ widget.full }}__viewing_date" ).val();
          
          // if today's date is selected change it to "current"
          if( "{{ current_date }}" == viewing_date ) viewing_date = "current";

          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                     { "viewing_date": viewing_date } );
        }
      } );

      // override the view button callback
      $( ".{{ widget.full }}_view" ).unbind( 'click' );
      $( ".{{ widget.full }}_view" ).click( function() {
        var id_string = $(this).prop( 'id' );
        var args = new Object();
        args.id = parseInt( id_string.substring( id_string.lastIndexOf('_') + 1 ) );
        args.site_id = $( "#{{ widget.full }}__restrict_site option:selected" ).val();
        args.site_id = $( "#{{ widget.full }}__restrict_site option:selected" ).val();
        args.qnaire_id = $( "#{{ widget.full }}__restrict_qnaire option:selected" ).val();
        args.viewing_date = $( "#{{ widget.full }}__viewing_date" ).val();
          
        // if today's date is selected change it to "current"
        if( "{{ current_date }}" == args.viewing_date ) args.viewing_date = "current";

        slot_load( {{ slot }}, "{{ widget.subject }}", "view", args );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div style="padding-top: 4px; padding-bottom: 4px;">
    {% if sites is defined %}
      <span class="spacer">
        {% set restrict_site_id = restrict_site_id|default(0) %}
        Restrict to site:
        <select id="{{ widget.full }}__restrict_site" class="ui-state-default">
          <option {% if 0 == restrict_site_id %}selected{% endif %}
                  value="0">All Sites</option>
          {% for id, name in sites %}
            <option {% if id == restrict_site_id %}selected{% endif %}
                    value="{{ id }}">{{ name }}</option>
          {% endfor %}
        </select>
      </span>
    {% endif %}
  
    {% set restrict_qnaire_id = restrict_qnaire_id|default(0) %}
    <span>
      Restrict to questionnaire:
      <select id="{{ widget.full }}__restrict_qnaire" class="ui-state-default">
        <option {% if 0 == restrict_qnaire_id %}selected{% endif %}
                value="0">All Questionnaires</option>
        {% for id, name in qnaires %}
          <option {% if id == restrict_qnaire_id %}selected{% endif %}
                  value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    </span>
  
    {% set viewing_date = viewing_date|default('current') %}
    <span>
      Viewing date:
      <input id="{{ widget.full }}__viewing_date" class="ui-state-default"
             value="{{ viewing_date }}" style="width: 7em;" readonly />
    </span>
  </div>

  {{ parent() }}

{% endblock widget %}
