{##
 # self_shortcuts.twig
 # 
 # Creates a list of shortcuts which are meant to be used under any circumstance.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean navigation Whether to include the navigation buttons
 # @param boolean refresh Whether to include the refresh button
 # @param boolean home Whether to include the home button
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      // make button icons
      {% if dialpad %}
        $( "#{{ widget.full }}_dialpad" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-person"
          }
        } ).click( function() {
          // open the dialing-pad dialog
          $( "#dialing_pad_slot" ).dialog( {
            title: "Dialing pad",
            modal: false,
            width: 180,
            height: 225,
            autoOpen: true
          } );
          slot_load( "dialing_pad", "self_dialing_pad" );
        } );
      {% endif %}
      
      {% if calculator %}
        $( "#{{ widget.full }}_calculator" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-calculator"
          }
        } ).click( function() {
          $( "#calculator_slot" ).dialog( {
            title: "Calculator",
            modal: false,
            width: 225,
            height: 320,
            autoOpen: true
          } );
          slot_load( "calculator", "self_calculator" );
        } );
      {% endif %}
      
      {% if navigation %}
        $( "#{{ widget.full }}_prev" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-w" }
        } ).click( function() {
          slot_prev( "main" );
        } );
        $( "#{{ widget.full }}_next" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-e"
          }
        } ).click( function() {
          slot_next( "main" );
        } );
      {% endif %}
      
      {% if refresh %}
        $( "#{{ widget.full }}_refresh" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowrefresh-1-e"
          }
        } ).click( function() {
          slot_refresh( "status" );
          slot_refresh( "shortcuts" );
          slot_refresh( "main" );
        } );
      {% endif %}
      
      {% if home %}
        $( "#{{ widget.full }}_home" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-home"
          }
        } ).click( function() {
          slot_load( "main", "self_home" );
        } );
      {% endif %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <span>
    {% if dialpad %}
      <button id="{{ widget.full }}_dialpad">dialing pad</button>
    {% endif %}
    {% if calculator %}<button id="{{ widget.full }}_calculator">calculator</button>{% endif %}
    {% if navigation %}
      <button id="{{ widget.full }}_prev">back</button>
      <button id="{{ widget.full }}_next">forward</button>
    {% endif %}
    {% if refresh %}<button id="{{ widget.full }}_refresh">refresh</button>{% endif %}
    {% if home %}<button id="{{ widget.full }}_home">home</button>{% endif %}
  </span>

{% endblock widget %}
