{% extends "widget.twig" %}
{% block widget %}

<script type="text/javascript">
$( document ).ready( function() {
  $( "#{{ widget_full_name }}_site_list" ).click( function() {
    slot_load( 'main', 'site_list' );
  } );
} );
$( document ).ready( function() {
  $( "#{{ widget_full_name }}_user_list" ).click( function() {
    slot_load( 'main', 'user_list' );
  } );
} );
$( document ).ready( function() {
  $( "#{{ widget_full_name }}_role_list" ).click( function() {
    slot_load( 'main', 'role_list' );
  } );
} );

$( function() { $( "#{{ widget_full_name }}_user_list" ).button().parent().buttonset() } );
</script>

<div>
  <span class="title">Lists:</span>
  <button id="{{ widget_full_name }}_site_list">Sites</button>
  <button id="{{ widget_full_name }}_user_list">Users</button>
  <button id="{{ widget_full_name }}_role_list">Roles</button>
</div
{% endblock %}
