{##
 # self_status.twig
 # 
 # Shows status details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      $( "#{{ widget.full }}_icons" ).children().tooltip();
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <span id="{{ widget.full }}_icons" class="status_icons ui-widget ui-state-default ui-corner-all">
    <span id="{{ widget.full }}_sip"
          title="VoIP is {{ SIP_ENABLED ? 'enabled' : 'disabled' }}"
          class="ui-button-icon-primary ui-icon ui-icon-power {{ SIP_ENABLED ? '' : 'dimmed' }}"
          style="float: left" /> </label>
    <span id="{{ widget.full }}_on_call"
          title="{{ on_call ? 'call active' : 'no active call' }}"
          class="ui-button-icon-primary ui-icon ui-icon-person {{ on_call ? '' : 'dimmed' }}"
          style="float: left" />
  </span>

{% endblock widget %}
