{##
 # self_menu.twig
 # 
 # Menu widget that displays buttons to common operations.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param array calendars An array of calendar operations with each element having:
 #                       'heading' => the name to show to the user
 #                       'widget' => the widget to load when the calendar is selected
 # @param array lists An array of list operations with each element having:
 #                    'heading' => the name to show to the user
 #                    'widget' => the widget to load when the list is selected
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      {% for calendar in calendars %}
        $( "#{{ widget.full }}_{{ calendar.widget }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ calendar.widget }}" );
        } );
      {% endfor %}
      {% for list in lists %}
        $( "#{{ widget.full }}_{{ list.widget }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ list.widget }}" );
        } );
      {% endfor %}
      {% for report in reports %}
        $( "#{{ widget.full }}_{{ report.widget }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ report.widget }}" );
        } );
      {% endfor %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div>
    {% if calendars|count %}
      <div class="title" style="text-align: center">Calendars</div>
      {% for calendar in calendars %}
        <div style="padding: 2px;">
          <button style="width: 100%;" 
                  id="{{ widget.full }}_{{ calendar.widget }}">{{ calendar.heading|capitalize }}</button>
        </div>
      {% endfor %}
      <div class="spacer" />
    {% endif %}

    {% if lists|count %}
      <div class="title" style="text-align: center">Lists</div>
      {% for list in lists %}
        <div style="padding: 2px;">
          <button style="width: 100%;" 
                  id="{{ widget.full }}_{{ list.widget }}">{{ list.heading|capitalize }}</button>
        </div>
      {% endfor %}
      <div class="spacer" />
    {% endif %}

    {% if reports|count %}
      <div class="title" style="text-align: center">Reports</div>
      {% for report in reports %}
        <div style="padding: 2px;">
          <button style="width: 100%;" 
                  id="{{ widget.full }}_{{ report.widget }}">{{ report.heading|capitalize }}</button>
        </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock widget %}
