{##
 # self_menu.twig
 # 
 # Menu widget that displays buttons to common operations.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param array calendars An array of calendar operations with each element having:
 #                       'heading' => the name to show to the user
 #                       'subject' => the calendar operation's subject
 #                       'name' => the calendar operation's name
 # @param array lists An array of list operations with each element having:
 #                    'heading' => the name to show to the user
 #                    'subject' => the list operation's subject
 #                    'name' => the list operation's name
 # @param array reports An array of report operations with each element having:
 #                    'heading' => the name to show to the user
 #                    'subject' => the report operation's subject
 #                    'name' => the report operation's name
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      {% for calendar in calendars %}
        $( "#{{ widget.full }}__{{ calendar.subject }}_{{ calendar.name }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ calendar.subject }}", "{{ calendar.name }}" );
        } );
      {% endfor %}
      {% for list in lists %}
        $( "#{{ widget.full }}__{{ list.subject }}_{{ list.name }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ list.subject }}", "{{ list.name }}" );
        } );
      {% endfor %}
      {% for report in reports %}
        $( "#{{ widget.full }}__{{ report.subject }}_{{ report.name }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ report.subject }}", "{{ report.name }}" );
        } );
      {% endfor %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div>
    {% if calendars|length %}
      <div class="title" style="text-align: center">Calendars</div>
      {% for calendar in calendars %}
        <div style="padding: 2px;">
          <button id="{{ widget.full }}__{{ calendar.subject }}_{{ calendar.name }}"
                  style="width: 100%;">{{ calendar.heading|ucwords }}</button>
        </div>
      {% endfor %}
      <div class="spacer" />
    {% endif %}

    {% if lists|length %}
      <div class="title" style="text-align: center">Lists</div>
      {% for list in lists %}
        <div style="padding: 2px;">
          <button id="{{ widget.full }}__{{ list.subject }}_{{ list.name }}"
                  style="width: 100%;">{{ list.heading|ucwords }}</button>
        </div>
      {% endfor %}
      <div class="spacer" />
    {% endif %}

    {% if reports|length %}
      <div class="title" style="text-align: center">Reports</div>
      {% for report in reports %}
        <div style="padding: 2px;">
          <button id="{{ widget.full }}__{{ report.subject }}_{{ report.name }}"
                  style="width: 100%;">{{ report.heading|ucwords }}</button>
        </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock widget %}
