{##
 # self_shortcuts.twig
 # 
 # Creates a list of shortcuts which are meant to be used under any circumstance.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean navigation Whether to include the navigation buttons
 # @param boolean refresh Whether to include the refresh button
 # @param boolean home Whether to include the home button
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      // make button icons
      {% if navigation %}
        $( "#{{ widget.full }}_prev" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-w"
          }
        } );
        $( "#{{ widget.full }}_prev" ).click( function() {
          slot_prev( 'main' );
        } );
        $( "#{{ widget.full }}_next" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-e"
          }
        } );
        $( "#{{ widget.full }}_next" ).click( function() {
          slot_next( 'main' );
        } );
      {% endif %}
      
      {% if refresh %}
        $( "#{{ widget.full }}_refresh" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowrefresh-1-e"
          }
        } );
        $( "#{{ widget.full }}_refresh" ).click( function() {
          slot_refresh( 'main' );
        } );
      {% endif %}
      
      {% if home %}
        $( "#{{ widget.full }}_home" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-home"
          }
        } );
        $( "#{{ widget.full }}_home" ).click( function() {
          slot_load( 'main', 'self_home' );
        } );
      {% endif %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <span>
    {% if navigation %}
      <button id="{{ widget.full }}_prev">back</button>
      <button id="{{ widget.full }}_next">forward</button>
    {% endif %}
    {% if refresh %}<button id="{{ widget.full }}_refresh">refresh</button>{% endif %}
    {% if home %}<button id="{{ widget.full }}_home">home</button>{% endif %}
  </span>

{% endblock widget %}
