{##
 # self_timezone_calculator.twig
 # 
 # Creates a timezone calculator widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      function setTime( date_obj )
      {
        {% for id, timezone in timezone_list %}
          var temp_date_obj = new Date( date_obj.getTime() );
          temp_date_obj.setTime( temp_date_obj.getTime() + {{ timezone.offset }} * 1000 );
          var hours = temp_date_obj.getUTCHours();
          hours = hours < 10 ? "0" + hours : hours;
          var minutes = temp_date_obj.getUTCMinutes();
          minutes = minutes < 10 ? "0" + minutes : minutes;
          $( "#{{ widget.full }}__{{ id }}" ).val( hours + ":" + minutes );
        {% endfor %}
      }
      
      {% for id, timezone in timezone_list %}
        $( "#{{ widget.full }}__{{ id }}" ).timepicker( {
          timeFormat: 'hh:mm',
          showAnim: 'slideDown',
          ampm: false,
          stepMinute: 5,
          onClose: function( timeText, date_inst, time_inst ) {
            // timeText has the time value sent as a HH:MM string, so translate to utc time
            var offset = $( "#{{ widget.full }}_offset__{{ id }}" ).val();
            var offset_in_hours = Math.abs( offset ) / 60 / 60;
            var hours = Math.floor( offset_in_hours );
            var minutes = 60 * ( offset_in_hours - hours );
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            var gmt = "GMT" + ( offset < 0 ? "-" : "+" ) + hours + ":" + minutes;
            var date_obj = new Date( "Jan 2, 2000 " + timeText + ":00 GMT" );
            date_obj = new Date( date_obj.getTime() - offset * 1000 );
  
            // update all the other timezone's times
            setTime( date_obj );
          }
        } );
      {% endfor %}

      // set the initial time
      setTime( new Date() );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <table id="{{ widget.full }}__widget">
    {% for id, timezone in timezone_list %}
      <tr {{ timezone.current ? 'class="ui-state-highlight"' : '' }}>
        <td class="heading" {{ timezone.current ? '' : 'style="font-weight:normal"' }}>
          {{ timezone.name }}
        </td>
        <td class="content">
          <input id="{{ widget.full }}_offset__{{ id }}"
                 type="hidden" value="{{ timezone.offset }}" />
          <input id="{{ widget.full }}__{{ id }}" type="text" value=""
                 class="ui-widget-content" style="width: 4em; text-align: right" readonly />
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock widget %}
