{##
 # self_status.twig
 # 
 # Shows status details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    function update_clock() {
      var now_obj = new Date();
      now_obj.setTime( now_obj.getTime() + {{ timezone_offset }} * 1000 );
      var hours = ( now_obj.getUTCHours() < 10 ? '0' : '' ) + now_obj.getUTCHours();
      var minutes = ( now_obj.getUTCMinutes() < 10 ? '0' : '' ) + now_obj.getUTCMinutes();
      var seconds = ( now_obj.getUTCSeconds() < 10 ? '0' : '' ) + now_obj.getUTCSeconds();
      $( "#{{ widget.full }}_clock" ).html(
        hours + ":" + minutes + ":" + seconds + " {{ timezone_name }}" );
    }

    $( function() {
      $( "#{{ widget.full }}_icons" ).children().tooltip();
      setInterval( 'update_clock()', 1000 ); // add the clock
    } );

    {% if home %}
      $( "#{{ widget.full }}_home" ).button( {
        text: false,
        icons: {
          primary: "ui-icon-home"
        }
      } ).click( function() {
        slot_load( "main", "self", "home" );
      } );
    {% endif %}
  </script>

{% endblock javascript %}

{% block widget %}

  {% if home %}<button id="{{ widget.full }}_home">home</button>{% endif %}
  <span id="{{ widget.full }}_icons" class="status_icons ui-widget ui-state-default ui-corner-all">
    <span id="{{ widget.full }}_sip"
          title="VoIP is {{ sip_enabled ? 'enabled' : 'disabled' }}"
          class="ui-button-icon-primary ui-icon ui-icon-power {{ sip_enabled ? '' : 'dimmed' }}"
          style="float: left" /> </label>
    <span id="{{ widget.full }}_on_call"
          title="{{ on_call ? 'call active' : 'no active call' }}"
          class="ui-button-icon-primary ui-icon ui-icon-person {{ on_call ? '' : 'dimmed' }}"
          style="float: left" />
    <span id="{{ widget.full }}_clock" style="padding-left:0.25em" />
  </span>

{% endblock widget %}
