{##
 # self_shortcuts.twig
 # 
 # Creates a list of shortcuts which are meant to be used under any circumstance.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean navigation Whether to include the navigation buttons
 # @param boolean home Whether to include the home button
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      // make button icons
      {% if webphone %}
        $( "#{{ widget.full }}__webphone" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-power"
          }
        } ).click( function() {
          // open the web phone in a new tab
          window.open(
            "/webphone/?{{ webphone_parameters|raw }}",
            "other_tab",
            "status=0," +
            "toolbar=0," +
            "location=0," +
            "menubar=0," +
            "directories=0," +
            "resizable=0," +
            "width=330," +
            "height=230" );
          window.location.reload();
        } );
      {% endif %}
      
      {% if dialpad %}
        $( "#{{ widget.full }}__dialpad" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-person"
          }
        } ).click( function() {
          // open the dialing-pad dialog
          $( "#dialing_pad_slot" ).dialog( {
            title: "Dialing pad",
            modal: false,
            width: 180,
            height: 225,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "dialing_pad", "self", "dialing_pad" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if prerecruit and participant_id %}
        $( "#{{ widget.full }}__prerecruit" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-flag"
          }
        } ).click( function() {
          // open the prerecruit dialog
          $( "#prerecruit_slot" ).dialog( {
            title: "Pre-Recruit",
            modal: false,
            width: 400,
            height: 400,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "prerecruit", "prerecruit", "select", { participant_id: {{ participant_id }} } );
        } ).parent().buttonset();
      {% endif %}
      
      {% if timer %}
        $( "#{{ widget.full }}__timer" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-clock"
          }
        } ).click( function() {
          // open the timer dialog
          $( "#timer_slot" ).dialog( {
            title: "Timer and Recording",
            modal: false,
            width: 400,
            height: 235,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "timer", "self", "timer" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if calculator %}
        $( "#{{ widget.full }}__calculator" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-calculator"
          }
        } ).click( function() {
          $( "#calculator_slot" ).dialog( {
            title: "Calculator",
            modal: false,
            width: 225,
            height: 320,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "calculator", "self", "calculator" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if timezone_calculator %}
        $( "#{{ widget.full }}__timezone_calculator" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-contact"
          }
        } ).click( function() {
          $( "#timezone_calculator_slot" ).dialog( {
            title: "Timezone Calculator",
            modal: false,
            width: 300,
            height: 250,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "timezone_calculator", "self", "timezone_calculator" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if navigation %}
        $( "#{{ widget.full }}__prev" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-w" }
        } ).click( function() {
          slot_prev( "main" );
        } );
        $( "#{{ widget.full }}__next" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-e"
          }
        } ).click( function() {
          slot_next( "main" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if home %}
        $( "#{{ widget.full }}__home" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-home"
          }
        } ).click( function() {
          slot_load( "main", "self", "home" );
        } );
      {% endif %}

      $( "#{{ widget.full }}__font_down" ).button( {
        text: false,
        icons: {
          primary: "ui-icon-minus"
        }
      } ).click( function() {
      } ).fontscale( "body", "down" );

      $( "#{{ widget.full }}__font_up" ).button( {
        text: false,
        icons: {
          primary: "ui-icon-plus"
        }
      } ).click( function() {
      } ).fontscale( "body", "up" ).parent().buttonset();

    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <span>
    <span>
      {% if webphone %}
        <button id="{{ widget.full }}__webphone">start web phone</button>
      {% endif %}
      {% if dialpad %}
        <button id="{{ widget.full }}__dialpad">dialing pad</button>
      {% endif %}
    </span>
    <span>
      {% if prerecruit and participant_id %}
        <button id="{{ widget.full }}__prerecruit">pre-recruit selection</button>
      {% endif %}
      {% if timer %}
        <button id="{{ widget.full }}__timer">timer</button>
      {% endif %}
      {% if calculator %}
        <button id="{{ widget.full }}__calculator">calculator</button>
      {% endif %}
      {% if timezone_calculator %}
        <button id="{{ widget.full }}__timezone_calculator">timezone calculator</button>
      {% endif %}
    </span>
    {% if navigation %}
      <span>
        <button id="{{ widget.full }}__prev">back</button>
        <button id="{{ widget.full }}__next">forward</button>
      </span>
    {% endif %}
    {% if home %}<button id="{{ widget.full }}__home">home</button>{% endif %}
    <span>
      <button id="{{ widget.full }}__font_down">smaller font</button>
      <button id="{{ widget.full }}__font_up">larger font</button>
    </span>
  </span>

{% endblock widget %}
