{##
 # base_list.twig
 # 
 # Generic list widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param array items A list of operations with each element having:
 #                    'heading' => the name to show to the user
 #                    'widget' => the widget to load when the item is selected
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      {% for item in items %}
        $( "#{{ widget.full }}_{{ item.widget }}" ).button().click( function() {
          $( "#left_extruder" ).closeMbExtruder();
          slot_load( "main", "{{ item.widget }}" );
        } );
      {% endfor %}
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div>
    {% for item in items %}
      <div style="padding: 2px;">
        <button style="width: 100%;" 
                id="{{ widget.full }}_{{ item.widget }}">{{ item.heading|capitalize }}</button>
      </div>
    {% endfor %}
  </div>

{% endblock widget %}
