{##
 # self_home.twig
 # 
 # Hope page.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block widget %}

  <div class="ui-widget ui-widget-content app-widget-content">
    <div class="title" style="padding-top: 10px;">Welcome to Sabretooth version {{ version }}</div>
    <div class="spacer"></div>
    <div>
      You are currently logged on as <span class="title">{{ user_name|capitalize }}</span>
      under the role of <span class="title">{{ role_name|capitalize }}</span>
      from the <span class="title">{{ site_name|capitalize }}</span> site.
    </div>
    {% if last_day is defined and last_time is defined %}
    <div>
      Your last activity was on <span class="title">{{ last_day }}</span>
      at <span class="title">{{ last_time }}</span>.
    </div>
    {% endif %}
    </p>
    <div class="spacer"></div>
  </div>

{% endblock widget %}
