{##
 # self_settings.twig
 # 
 # Allows the user to define configurable session-based settings.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string current_site_id
 # @param string current_site_name
 # @param string current_role_id
 # @param string current_role_name
 # @param string current_theme_name
 # @param array roles This is an associative array containing the names of all roles which the user
 #                    has access to at the current site.
 # @param array sites This is an associative array containing the names of all sites which the user
 #                    has access to.
 # @param array themes This is an associative array containing the names of all themes which the
                       user has access to.
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      $( "#{{ widget.full }}_logout" ).button().click( function() {
        $.cookie( 'logout', true );
        jQuery.post( '?' );
      } );
      
      // change password button
      $( "#{{ widget.full }}_password" ).button().click( function() {
        // open the change-password dialog
        $( "#password_slot" ).dialog( {
          title: "Change password",
          modal: true,
          width: 400,
          height: 260,
          autoOpen: true
        } );
        slot_load( "password", "self", "password" );
      } );

      // changes the active site
      $( "#{{ widget.full }}_set_site" ).change( function() {
        if( ajax_push( 'self', 'set_site', { "id": $(this).val() } ) )
          window.location.reload();
      } );
    
      // changes the active role
      $( "#{{ widget.full }}_set_role" ).change( function() {
        if( ajax_push( 'self', 'set_role', { "id": $(this).val() } ) )
          window.location.reload();
      } );
    
      // changes the active theme
      $( "#{{ widget.full }}_set_theme" ).change( function() {
        var selected = $( "#{{ widget.full }}_set_theme option:selected" );
        if( 0 != selected.val() ) {
          if( ajax_push( 'self', 'set_theme', { "theme": selected.text() } ) )
            window.location.reload();
        }
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <table>
    <tr>
      <td align="left" valign="top">
        <img src="img/logo_small.png" style="height:60px; margin:4px" />
      </td>
      <td align="left" valign="top" class="title">
        Sabretooth version {{ version }}<br>
        Logged in as {{ user }}<br>
        {% if development %}
          <div class="ui-state-error" style="margin-top:4px;padding:2px">development mode</div>
        {% endif %}
      </td>
      <td align="right" valign="top">
        <button id="{{ widget.full }}_password" style="width:135px; margin:2px">password</button><br>
        <button id="{{ widget.full }}_logout" style="width:135px; margin:2px">logout</button>
      </td>
    </tr>
  </table>
  <hr class="ui-widget ui-widget-content">
  <table>
    <tr>
      <td align="left" width="50%">
        <span class="title" style="width:20%">Site:</span>
        {% if 1 < sites|length %}
          <select id="{{ widget.full }}_set_site" style="width: 80%" class="ui-state-default">
            {% for id, site in sites %}
              <option {{ current_site_id == id ? 'selected' : '' }}
                      value="{{ id }}">{{ site }}</option>
            {% endfor %}
          </select>
        {% else %}
          {{ current_site_name }}
        {% endif %}
      </td>
      <td align="right" width="50%">
        <span class="title" style="width:20%">Role:</span>
        {% if 1 < roles|length %}
          <select id="{{ widget.full }}_set_role" style="width: 80%" class="ui-state-default">
            {% for id, role in roles %}
              <option {{ current_role_id == id ? 'selected' : '' }}
                      value="{{ id }}">{{ role }}</option>
            {% endfor %}
          </select>
        {% else %}
          {{ current_role_name }}
        {% endif %}
      </td>
    </tr>
  </table>
  <hr class="ui-widget ui-widget-content">
  <table>
    <tr>
      <td align="left" width="10%">
        <span class="title">Theme:&nbsp;</span>
      </td>
      <td align="right" width="90%">
        <select id="{{ widget.full }}_set_theme" style="width: 100%" class="ui-state-default">
          {% for theme in themes %}
            <option{{ current_theme_name == theme ? ' selected' : '' }}>{{ theme }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

{% endblock widget %}
