{##
 # self_shortcuts.twig
 # 
 # Creates a list of shortcuts which are meant to be used under any circumstance.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}
{% block widget %}
<script type="text/javascript">
// make button icons
$( function() {
  $( "#{{ active_widget }}_prev" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-arrowthick-1-w"
    }
  } )
} );
$( function() {
  $( "#{{ active_widget }}_next" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-arrowthick-1-e"
    }
  } )
} );
$( function() {
  $( "#{{ active_widget }}_refresh" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-arrowrefresh-1-e"
    }
  } )
} );
$( function() {
  $( "#{{ active_widget }}_home" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-home"
    }
  } )
} );
$( function() {
  $( "#{{ active_widget }}_help" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-help"
    }
  } )
} );

// page button functions
$( function() {
  $( "#{{ active_widget }}_prev" ).click( function() {
    slot_prev( 'main' );
  } )
} );
$( function() {
  $( "#{{ active_widget }}_next" ).click( function() {
    slot_next( 'main' );
  } )
} );
$( function() {
  $( "#{{ active_widget }}_refresh" ).click( function() {
    slot_refresh( 'main' );
  } )
} );
$( function() {
  $( "#{{ active_widget }}_home" ).click( function() {
    slot_load( 'main', 'self_home' );
  } )
} );
$( function() {
  $( "#{{ active_widget }}_help" ).click( function() {
    //slot_load( 'main', 'help' ); TODO
  } )
} );
</script>
<span>
  <button id="{{ active_widget }}_prev">back</button>
  <button id="{{ active_widget }}_next">forward</button>
  <button id="{{ active_widget }}_refresh">refresh</button>
  <button id="{{ active_widget }}_home">home</button>
  <button id="{{ active_widget }}_help">help</button>
</span>
{% endblock %}
