{##
 # note_list.twig
 # 
 # Note list widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      // ok button
      $( "#{{ widget.full }}_ok" ).click( function() {
        var args = new Object;
        {% if not first_password %}
          args.old = $( "#{{ widget.full }}__old_password" ).val();
        {% endif %}
        args.new = $( "#{{ widget.full }}__new_password" ).val();
        args.confirm = $( "#{{ widget.full }}__confirm_password" ).val();

        // If the password changes successfully then log the user out so they can test their new
        // password
        if( ajax_push( "self", "set_password", args ) )
          $( "#" + {{ slot }} + "_slot" ).dialog( "close" );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div>
    <table>
      {% if first_password %}
        <tr>
          <td class="content" colspan="2" style="padding-bottom:16px">
            You must select a new password.
          </td>
        </tr>
      {% else %}
        <tr>
          <td class="heading">Old password:</td>
          <td class="content">
            <input id="{{ widget.full }}__old_password" type="password" style="width:99%" />
          </td>
        </tr>
      {% endif %}
      <tr>
        <td class="heading">New password:</td>
        <td class="content">
          <input id="{{ widget.full }}__new_password" type="password" style="width:99%" /></td>
      </tr>
      <tr>
        <td class="heading">Confirm password:</td>
        <td class="content">
          <input id="{{ widget.full }}__confirm_password" type="password" style="width:99%" />
        </td>
      </tr>
    </table>
    <span class="ui-state-error-text">
      WARNING!  You must restart your session after changing your password.
    </span>
    {% from 'macros.twig' import confirm_buttons %}
    {{ confirm_buttons( slot, widget.full, [ 'ok' ], false, 'right', true ) }}
  </div>

{% endblock widget %}
