{##
 # shift_add.twig
 # 
 # Form for creating new shifts.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_add.twig for parameters
 #}
{% extends "base_add.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function () {
      // add button
      $( "#{{ widget.compound }}_add" ).click( function () {
        // get the list of checked users
        {% if user_id is defined %}
          var checked_user_ids = new Object();
          checked_user_ids[{{ user_id }}] = true;
        {% else %}
          var json_checked_user_ids =
            $.cookie( "{{ widget.full }}_user_list_checked_ids" );
          var checked_user_ids = undefined == json_checked_user_ids
                               ? new Object()
                               : jQuery.parseJSON( json_checked_user_ids );
        {% endif %}
    
        var user_ids = new Array();
        for( id_string in checked_user_ids )
          user_ids.push( parseInt( id_string.substring( id_string.lastIndexOf("_") + 1 ) ) );
    
        if( 0 == user_ids.length ) {
          error_dialog(
            "Error: No users selected",
            "<p>You must select at least one user.<br>" +
            "Please select which users to add to the {{ widget.subject_name }}, " +
            "or click cancel.</p>",
            true
          );
        } else {
          // push the form information
          var args = new Object();
          args.user_id_list = user_ids;
          var columns = new Object();
          $( "#{{ widget.full }}_add_form :input" ).each( function() {
            var id_string = $(this).attr( 'id' );
            var column_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
            columns[column_name] = $(this).val();
          } );
          args.columns = columns;
    
          if( ajax_push( "{{ widget.subject }}", "new", args ) ) {
            // clear the checked ids object cookie and return to the previous page
            $.cookie( "{{ widget.full }}_user_list_checked_ids", null );
            $slot = $( "#" + {{ slot }} + "_slot" );
            if( "#main_slot" == $slot.selector ) slot_prev( {{ slot }} );
            else $slot.dialog( "close" ); // assume we're in a popup dialog
          }
        }
      } );
    
      // cancel button
      $( "#{{ widget.compound }}_back" ).click( function() {
        // clear the checked ids cookie
        $.cookie( "{{ widget.full }}_user_list_checked_ids", null );
      } );
    } );
  </script>

{% endblock javascript %}

{% block record %}

  {% from 'macros.twig' import include_list %}
  {{ include_list( 'user', user_list|default(false), true ) }}
  {{ parent() }}

{% endblock record %}
