{##
 # shift_template_view.twig
 # 
 # Form for creating new shift templates.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}
  
  {{ parent() }}
  <script type="text/javascript">
    $( function () {

      // hide the unused repeat type rows on load
      {% if "weekly" == repeats %}
        $( "tr.{{ widget.full }}__repeat_monthly" ).hide();
      {% else %}
          $( "tr.{{ widget.full }}__repeat_weekly" ).hide();
      {% endif %}

      // "repeats" drop-down changed
      $( "#{{ widget.full }}__type" ).change( function () {
        var args = new Object();
        args.id = {{ id }};
        var columns = new Object();
        if( "monthly" == $(this).val() ) {
          columns.repeat_type = $( "#{{ widget.full }}__repeat_by" ).val();
          args.columns = columns;
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            $( "tr.{{ widget.full }}__repeat_weekly" ).hide();
            $( "tr.{{ widget.full }}__repeat_monthly" ).show();
          } else { // put back the drop-down
            $(this).val( "weekly" ).attr( "selected", true );
          }
        }
        else { // put back the old markup
          columns.repeat_type = "weekly";
          args.columns = columns;
          if( ajax_push( "{{ widget.subject }}", "edit", args ) )
          {
            $( "tr.{{ widget.full }}__repeat_monthly" ).hide();
            $( "tr.{{ widget.full }}__repeat_weekly" ).show();
          } else { // put back the drop-down
            $(this).val( "monthly" ).attr( "selected", true );
          }
        }
      } );
      
      // "repeat every" drop-down changed
      $( "#{{ widget.full }}__repeat_every" ).change( function () {
        var args = new Object();
        args.id = {{ id }};
        var columns = new Object();
        columns.repeat_every = $(this).val();
        args.columns = columns;
        ajax_push( "{{ widget.subject }}", "edit", args );
      } );

      // day of week checkbox changed
      $( "input.{{ widget.full }}__repeat_on" ).change( function() {
        var day = $(this).attr( "name" );
        var checked = $(this).attr( "checked" ) ? 1 : 0;
        var args = new Object();
        args.id = {{ id }};
        var columns = new Object();
        columns[day] = checked;
        args.columns = columns;
        ajax_push( "{{ widget.subject }}", "edit", args );
      } );

    } );
  </script>

{% endblock javascript %}

{% block record_extra_post_items %}

  <tr><td></td><td><hr class="ui-widget ui-widget-content" /></td></tr>
  <tr>
    <td class="heading">Repeats:</td>
    <td class="content">
      <select id="{{ widget.full }}__type" style="width: 200px" class="ui-state-default">
        <option {{ "weekly" == repeats ? "selected" : "" }} value="weekly">weekly</option>
        <option {{ "monthly" == repeats ? "selected" : "" }} value="monthly">monthly</option>
      </select>
    </td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td></td><td><hr class="ui-widget ui-widget-content" /></td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td class="heading">Repeat every:</td>
    <td class="content">
      <select id="{{ widget.full }}__repeat_every" style="width: 200px" class="ui-state-default">
        {% for i in 1..30 %}
          <option {{ i == repeat_every ? "selected" : "" }} value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> weeks
    </td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td></td><td><hr class="ui-widget ui-widget-content" /></td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td class="heading">Repeat on:</td>
    <td class="content">
      M<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="monday" {{ monday ? "checked" : "" }} />
      T<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="tuesday" {{ tuesday ? "checked" : "" }} />
      W<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="wednesday" {{ wednesday ? "checked" : "" }} />
      T<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="thursday" {{ thursday ? "checked" : "" }} />
      F<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="friday" {{ friday ? "checked" : "" }} />
      S<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="saturday" {{ saturday ? "checked" : "" }} />
      S<input class="{{ widget.full }}__repeat_on" type="checkbox"
              name="sunday" {{ sunday ? "checked" : "" }} />
    </td>
  </tr>
  <tr class="{{ widget.full }}__repeat_monthly">
    <td></td><td><hr class="ui-widget ui-widget-content" /></td>
  </tr>
  <tr class="{{ widget.full }}__repeat_monthly">
    <td class="heading">Repeat by:</td>
    <td class="content">
      <select id="{{ widget.full }}__repeat_by" style="width: 200px" class="ui-state-default">
        <option {{ "day of month" == repeat_by ? "selected" : "" }}
                value="day of month">day of the month</option>
        <option {{ "day of week" == repeat_by ? "selected" : "" }}
                value="day of week">day of the week</option>
      </select>
    </td>
  </tr>

{% endblock record_extra_post_items %}
