{##
 # shift_list.twig
 # 
 # Lists shifts.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      $( "#{{ widget.full }}_calendar" ).fullCalendar( {
        editable: true,
        theme: true,
        allDaySlot: false,
        slotMinutes: 30,
        defaultEventMinutes: 60,
        firstHour: 8,
        header: {
          left: "prev,next today",
          center: "title",
          right: "month,agendaWeek,agendaDay"
        },
        events: [
          {% for row in rows %}
          {
            id: {{ row.id }},
            title: "{{ row.columns['user.name'] }}",
            start: new Date( {{ row.columns['shift.start_time'] }} ),
            end: new Date( {{ row.columns['shift.end_time'] }} ),
            allDay: false
          }{{ loop.last ? "" : "," }}
          {% endfor %}
        ]
      } );
    });
  </script>

{% endblock javascript %}

{% block widget %}

  <div class="spacer" id="{{ widget.full }}_calendar"></div>

{% endblock widget %}
