{##
 # shift_template_add.twig
 # 
 # Form for creating new shift templates.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_add.twig for parameters
 #}
{% extends "base_add.twig" %}

{% block javascript %}
  
  <script type="text/javascript">
    $( function () {
      // hide the repeat-monthly tr elements on load
      $( "tr.{{ widget.full }}__repeat_monthly" ).hide();

      // "repeats" drop-down
      $( "#{{ widget.full }}__type" ).change( function () {
        if( 'monthly' == $(this).val() ) {
          $( "tr.{{ widget.full }}__repeat_weekly" ).hide();
          $( "tr.{{ widget.full }}__repeat_monthly" ).show();
        }
        else { // put back the old markup
          $( "tr.{{ widget.full }}__repeat_monthly" ).hide();
          $( "tr.{{ widget.full }}__repeat_weekly" ).show();
        }
      } );

      // add button
      $( "#{{ widget.compound }}_add" ).click( function () {
        // push the form information
        var args = new Object();
        var columns = new Object();
        $( "#{{ widget.full }}_add_form :input" ).each( function() {
          var id_string = $(this).attr( 'id' );
          var column_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
          columns[column_name] = $(this).val();
        } );

        // set all checkbox values
        $( "input.{{ widget.full }}__repeat_on" ).each( function() {
          var column_name = $(this).attr( "name" );
          columns[column_name] = $(this).attr( "checked" ) ? 1 : 0;
        } );

        // define the repeat type
        if( "weekly" == columns["type"] ) {
          columns["repeat_type"] = "weekly";
        } else if( "month" == columns["repeat_by"] ) {
          columns["repeat_type"] = "day of month";
        } else { // "week" == columns["repeat_by"]
          columns["repeat_type"] = "day of week";
        }

        // remove unwanted columns
        delete columns["type"];
        delete columns["repeat_by"];
        delete columns[""];

        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "new", args ) ) {
          $slot = $( "#" + {{ slot }} + "_slot" );
          if( "#main_slot" == $slot.selector ) slot_prev( {{ slot }} );
          else $slot.dialog( "close" ); // assume we're in a popup dialog
        }
      } );
    } );
  </script>

{% endblock javascript %}

{% block record_extra_post_items %}

  <tr><td></td><td><hr class="ui-widget ui-widget-content" /></td></tr>
  <tr>
    <td class="heading">Repeats:</td>
    <td class="content">
      <select id="{{ widget.full }}__type" style="width: 200px" class="ui-state-default">
        <option selected value="weekly">weekly</option>
        <option value="monthly">monthly</option>
      </select>
    </td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td></td><td><hr class="ui-widget ui-widget-content" /></td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td class="heading">Repeat every:</td>
    <td class="content">
      <select id="{{ widget.full }}__repeat_every" style="width: 200px" class="ui-state-default">
        {% for i in 1..30 %}
          <option {{ 1 == i ? "checked" : "" }} value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> weeks
    </td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td></td><td><hr class="ui-widget ui-widget-content" /></td>
  </tr>
  <tr class="{{ widget.full }}__repeat_weekly">
    <td class="heading">Repeat on:</td>
    <td class="content">
      M<input class="{{ widget.full }}__repeat_on" type="checkbox" name="monday" />
      T<input class="{{ widget.full }}__repeat_on" type="checkbox" name="tuesday" />
      W<input class="{{ widget.full }}__repeat_on" type="checkbox" name="wednesday" />
      T<input class="{{ widget.full }}__repeat_on" type="checkbox" name="thursday" />
      F<input class="{{ widget.full }}__repeat_on" type="checkbox" name="friday" />
      S<input class="{{ widget.full }}__repeat_on" type="checkbox" name="saturday" />
      S<input class="{{ widget.full }}__repeat_on" type="checkbox" name="sunday" />
    </td>
  </tr>
  <tr class="{{ widget.full }}__repeat_monthly">
    <td></td><td><hr class="ui-widget ui-widget-content" /></td>
  </tr>
  <tr class="{{ widget.full }}__repeat_monthly">
    <td class="heading">Repeat by:</td>
    <td class="content">
      <select id="{{ widget.full }}__repeat_by" style="width: 200px" class="ui-state-default">
        <option selected value="month">day of the month</option>
        <option value="week">day of the week</option>
      </select>
    </td>
  </tr>

{% endblock record_extra_post_items %}
