{##
 # tree_widget.twig
 # 
 # A recursive template which builds a tree widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
<li id="{{ widget.full }}__{{ node.id }}" {{ node.open ? 'class="jstree-open"' : '' }}>
  {% if node.rank is defined %}
    <a style="color:{{ FOREGROUND_COLOR }}; text-transform: uppercase"
       class="tree"><ins class="no_icon"></ins><ins><span
       class="ui-icon ui-icon-script" /></ins> </a>
    <span class="title">{{ node.title }} (Queue {{ node.rank }})&nbsp; ({{ node.count }})</span>
  {% else %}
    <a style="color:{{ FOREGROUND_COLOR }}; font-weight: normal" class="tree"> </a>
    <span>{{ node.title }} ({{ node.count }})</span>
  {% endif %}
  {% if node.children|count %}
    <ul>
      {% for child in node.children %}
        {% include "tree_widget.twig" with { 'node': child } %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
