{##
 # tree_widget.twig
 # 
 # A recursive template which builds a tree widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
<li id="{{ widget.full }}__{{ node.id }}">
  {% if node.rank is defined %}
    <span class="title">Q{{ node.rank }}: {{ node.title }}
  {% else %}
    <span>{{ node.title }}
  {% endif %}
    <span id="{{ widget.full }}_nodespot__{{ node.id }}">&nbsp;</span>
  </span>
  {% if node.children|length %}
    <ul>
      {% for child in node.children %}
        {% include "tree_widget.twig" with { 'node': child } %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
