{##
 # user_view.twig
 # 
 # View user details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}

  {% if view_shifts or reset_password %}
    <script type="text/javascript">
      $( function() {
        {% if reset_password %}
          $( "#{{ widget.full }}_password" ).click( function() {
            confirm_dialog(
              "Reset Password",
              "Are you sure you wish to reset this user's password?",
              function() { send_action( 'user', 'reset_password', { "id": {{ id }} } ); }
            );
          } );
        {% endif %}
        
        {% if view_shifts %}
          // shift calendar button
          $( "#{{ widget.full }}_calendar" ).click( function() {
            slot_load( "{{ widget.full }}", "shift_calendar", "shift_calendar", { user_id: {{ id }} } );
            $( "#{{ widget.full }}_slot" ).dialog( "open" );
          } );
          
          // shift calendar dialog
          $( "#{{ widget.full }}_slot" ).dialog( { 
            autoOpen: false,
            title: "Shift calendar",
            modal: true,
            width: 800,
            height: 600
          } );
        {% endif %}
      } );
    </script>
  {% endif %}

{% endblock javascript %}


{% block record %}

  {{ parent() }}
  {% from 'macros.twig' import include_list %}
  {% if view_shifts or reset_password %}
    <div class="spacer">
      {% if view_shifts %}
        <button id="{{ widget.full }}_calendar">Shift Calendar</button>
      {% endif %}
      {% if reset_password %}
        <button id="{{ widget.full }}_password">Reset Password</button>
      {% endif %}
    </div>
    <div id="{{ widget.full }}_slot" />
  {% endif %}
  {{ include_list( 'access', access_list|default(false), true ) }}
  {{ include_list( 'activity', activity_list|default(false), true ) }}

{% endblock record %}
