{##
 # widget.twig
 # 
 # Base template for all widgets.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string slot The widget's slot name (defined in this template)
 # @param string widget.subject The widget's subject.
 # @param string widget.subjects The widget's subject, pluralized.
 # @param string widget.name The widget's name (action performed on the subject)
 # @param string widget.full The widget's full name: <subject>_<name>
 # @param string widget.compound The fully qualified name.  If the widget has a parent then this
                                 value is <parent_full>_<widget_full>, if not then it is simply
                                 the widget's full name.
 # @param string parent.exists Whether the widget has a parent.
 # @param string parent.subject The parent's subject.
 # @param string parent.subjects The parent's subject, pluralized.
 # @param string parent.name The parent's name (action performed on the parent's subject)
 # @param string parent.full The parent's full name: <parent_subject>_<parent_name>
 # @param string widget_heading The widget's heading (can be an empty string).
 #}

{% set slot = [ "window.", widget.compound, "_slot" ]|join("") %}

<script type="text/javascript">
  // determine this widget's slot
  var {{ widget.compound }}_slot = "";
  $( function() {
    update_shortcuts();
    $( "button, input:submit" ).button();
    var slot_id = $( "#{{ widget.compound }}_slot_id" ).parents( "div[id$='_slot']" ).attr( "id" );
    {{ slot }} = slot_id.substring( 0, slot_id.lastIndexOf( "_" ) );
  } );
</script>
  
{% block javascript %}{% endblock %}
  
<div id="{{ widget.compound }}_slot_id" />
  
{% block heading %}
  
  {% if widget_heading %}
    <div class="ui-widget-header ui-state-hover app-widget-header">{{ widget_heading }}</div>
  {% endif %}

{% endblock heading %}

{% block widget %}

  {# force an error if this block isn't defined in child tempaltes #}
  <script type="text/javascript">
    $( function() {
      error_dialog(
        'Interface Error',
        '<p>' +
        '  The interface was unable to complete your request.<br>' +
        '  Please notify a supervisor with the error code.' +
        '</p>' +
        '<p class="error_code">Error code: W.T.M.</p>'
      );
    } );
  </script>

{% endblock widget %}
